<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<h2>{{ .Params.contact.header }}</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6">
			<p>{{ .Params.contact.copy }}</p>
		</div>
		<div class="col-12 col-md-6">
			<a href="{{ .Params.contact.ctaOne.link }}" class="btn btn-primary" target="_blank">{{ .Params.contact.ctaOne.copy }}</a>
			<a href="{{ .Params.contact.ctaTwo.link }}" class="btn btn-secondary" target="_blank">{{ .Params.contact.ctaTwo.copy }}</a>
		</div>
	</div>
</div>

