<footer id="footer">
	<div class="container-fluid no-max" id="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="row main-col-row">

						<div class="col-12 col-md-8 col-menus">
							<div class="row">

								<div class="col-6 col-sm-3 col-md-6 col-lg-3">
									<h5>About</h5>
									<ul class="nav-items">
										<li><a href="https://www.progress.com/company/" target="_blank" rel="noopener noreferrer">About
												Progress</a>
										</li>
										<li><a href="/code-of-conduct/" target="_blank" rel="noopener noreferrer">Code
												of Conduct</a></li>
										<li><a href="https://www.chef.io/pricing/" target="_blank" rel="noopener noreferrer">Pricing</a>
										</li>
										<li><a href="https://blog.chef.io/" target="_blank" rel="noopener noreferrer">Blog</a></li>
										<li><a href="https://www.chef.io/careers/" target="_blank" rel="noopener noreferrer">Careers</a>
										</li>
										<li><a href="https://pages.chef.io/subscription-center" target="_blank"
												rel="noopener noreferrer">Subscription Center</a></li>
									</ul>
								</div>
								<div class="col-6 col-sm-3 col-md-6 col-lg-3">
									<h5>Meet</h5>
									<ul class="nav-items">
										<li><a href="https://www.meetup.com/topics/opscode-chef/" target="_blank"
												rel="noopener noreferrer">Global Chef Meetups</a></li>
										<li><a href="https://events.chef.io/" target="_blank" rel="noopener noreferrer">Chef Events</a></li>
										<li><a href="https://chefconf.chef.io/" target="_blank" rel="noopener noreferrer">ChefConf 2020</a>
										</li>
										<li><a href="https://discourse.chef.io/" target="_blank" rel="noopener noreferrer">Community
												Forum</a></li>
										<li><a href="http://community-slack.chef.io/" target="_blank" rel="noopener noreferrer">Community
												Slack</a></li>
									</ul>
								</div>
								<div class="col-6 col-sm-3 col-md-6 col-lg-3">
									<h5>Resources</h5>
									<ul class="nav-items">
										<li><a href="https://learn.chef.io/" target="_blank" rel="noopener noreferrer">Learn Chef</a></li>
										<li><a href="https://training.chef.io/" target="_blank" rel="noopener noreferrer">Training</a></li>
										<li><a href="https://www.chef.io/resources/" target="_blank"
												rel="noopener noreferrer">Resources</a></li>
										<li><a href="https://downloads.chef.io/" target="_blank" rel="noopener noreferrer">Downloads</a>
										</li>
										<li><a href="https://docs.chef.io/" target="_blank" rel="noopener noreferrer">Docs</a></li>
										<li><a href="https://supermarket.chef.io/" target="_blank" rel="noopener noreferrer">Supermarket</a>
										</li>
										<li><a href="https://www.chef.io/support/" target="_blank" rel="noopener noreferrer">Support</a>
										</li>
										<li><a href="https://chef-software.ideas.aha.io/" target="_blank" rel="noopener noreferrer">Feature
												Requests</a></li>
									</ul>
								</div>
								<div class="col-6 col-sm-3 col-md-6 col-lg-3">
									<h5>Legal</h5>
									<ul class="nav-items">
										<li><a href="https://www.chef.io/terms-and-conditions-of-use/" target="_blank"
												rel="noopener noreferrer">Terms & Conditions</a></li>
										<li><a href="https://www.chef.io/privacy-policy/" target="_blank" rel="noopener noreferrer">Privacy
												Policy</a></li>
										<li><a href="https://www.chef.io/patents/" target="_blank" rel="noopener noreferrer">Patents</a>
										</li>
										<li><a href="https://www.chef.io/online-master-agreement/" target="_blank"
												rel="noopener noreferrer">Online Master License and Services
												Agreement</a></li>
										<li><a href="https://www.chef.io/trademark-policy/" target="_blank"
												rel="noopener noreferrer">Trademark Policy</a></li>
										<li><a href="https://www.chef.io/3rd-party-licenses/" target="_blank" rel="noopener noreferrer">3rd
												Party Software Licenses</a></li>
										<li><button id="ot-sdk-btn" class="ot-sdk-show-settings">Cookie
												Settings</button></li>
									</ul>
								</div>

							</div>

						</div>

						<!-- Contact Us Form -->
						<div class="col-sm-12 col-md-4 col-lg-4">
							<h5>Contact Us</h5>
							<script>
								function myInit() {
									MktoForms2.loadForm("//pages.chef.io", "255-VFB-268", 1635, function (form) {
										form.onSuccess(function (values, followUpUrl) {
											//show thank you message
											console.log(form);
											var w = document.getElementById("mktoForm_1635");
											w.className += ' submitted';
											return false;
										});
									});
								}
								myInit();
							</script>
							<div class="footer-form-container">
								<form class="mktoForm marketo-inline-override" id="mktoForm_1635"></form>
								<div class="footer-form-thank-you">
									<p>Thank you. Someone will follow up shortly.</p>
									<p>If you have questions in the meantime, feel free to email us directly at <a
											href="mailto:sales@chef.io">sales@chef.io</a>.</p>
								</div>
							</div>

						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
						{{ partial "social" . }}
					</div>
				</div>
			</div>
		</div>

	</div>
</footer>
<!--.main-footer-->