<meta charset="utf-8">
<!-- Bootstrap viewport  -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- OpenGraph and Twitter tags -->
<meta property="og:type" content="website" />
<meta property="og:locale" content="en-US">
<meta property="og:url" content="https://dev.chef.io">

<meta property="og:site_name" content="{{ .Site.Params.title }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@chef">

<!-- Title -->
{{ if isset .Params "meta_title" }}
<title>{{ .Params.meta_title }}</title>
<meta property="og:title" content="{{ .Params.meta_title }}">
<meta name="twitter:title" content="{{ .Params.meta_title }}">
{{ else }}
<title>{{ .Title }} | {{ .Site.Params.title }}</title>
<meta property="og:title" content="{{ .Params.title }} | {{ .Site.Params.title }}">
<meta name="twitter:title" content="{{ .Params.title }} | {{ .Site.Params.title }}">
{{end}}

<!-- Meta-description -->
{{ if isset .Params "meta_description" }}
<meta name="description" content="{{ .Params.meta_description }}">
<meta property="og:description" content="{{ .Params.meta_description }}">
<meta name="twitter:description" content="{{ .Params.meta_description }}">
{{else}}
<meta name="description" content="{{ .Site.Params.description }}">
<meta property="og:description" content="{{ .Site.Params.description }}">
<meta name="twitter:description" content="{{ .Site.Params.description }}">
{{end}}

<!-- Meta-image -->
{{ if isset .Params "meta_image" }}
<meta property="og:image" content="{{ .Params.meta_image_rect }}">
<meta name="twitter:image" content="{{ .Params.meta_image_sq }}">
{{else}}
<meta property="og:image" content="{{ .Site.Params.meta_image_rect }}">
<meta name="twitter:image" content="{{ .Site.Params.meta_image_sq }}">
{{end}}

<link rel="canonical" href="{{ .Permalink }}">