<nav id="main-nav">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">

				<div class="navbar navbar-expand-lg navbar-light">
					<a class="navbar-brand" href="/"><img src="/img/logos/chef-logo.svg" alt="Chef Logo" width="105"></a>

					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<i class="fa fa-bars"></i>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<form action="/search/" method="get" class="search form-inline">
							<input id="search-box" name="q" placeholder="Search Chef" type="text" class="st-default-search-input"
								autocomplete="off" autocorrect="off" autocapitalize="off">
							<!-- <button class="btn" id="search-icon" type="submit">Submit</button> -->
						</form>
						<ul class="navbar-nav">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false">
									Products
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="/products/chef-automate/">Chef Automate</a>
									<a class="dropdown-item" href="https://docs.chef.io/compliance/" target="_blank"
										rel="noopener noreferrer">Chef Compliance</a>
									<a class="dropdown-item" href="https://docs.chef.io/desktop/" target="_blank"
										rel="noopener noreferrer">Chef Desktop</a>
									<a class="dropdown-item" href="/products/chef-habitat/">Chef Habitat</a>
									<a class="dropdown-item" href="/products/chef-infra/">Chef
										Infra</a>
									<a class="dropdown-item" href="/products/chef-inspec/">Chef InSpec</a>
									<a class="dropdown-item" href="/products/chef-workstation/">Chef Workstation</a>

								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="https://docs.chef.io/" target="_blank" rel="noopener noreferrer">Docs</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="https://learn.chef.io" target="_blank" rel="noopener noreferrer">Learn
									Chef</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="https://training.chef.io/" target="_blank"
									rel="noopener noreferrer">Training</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="https://downloads.chef.io/" target="_blank"
									rel="noopener noreferrer">Downloads</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="https://chef.io/" target="_blank" rel="noopener noreferrer">Enterprise</a>
							</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
</nav>
</nav>