<nav id="main-nav">
	<div class="container-fluid">
        <div class="row">
			<div class="col-sm-12">
				
				<div class="navbar navbar-expand-md navbar-light">
					<a class="navbar-brand" href="/"><img src="/img/logos/chef-logo-white.svg" alt="Chef Logo" width="105"></a>
					
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<i class="fa fa-bars"></i>
					</button>
					
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<form action="/search/" method="get" class="search form-inline">
							<input id="search-box" name="q" placeholder="Search Chef" type="text" class="st-default-search-input" autocomplete="off" autocorrect="off" autocapitalize="off">
							<button class="btn" id="search-icon" type="submit"><i class="fas fa-search"></i></button>
						</form>
						<ul class="navbar-nav">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								  Products
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="#">Chef Infra</a>
									<a class="dropdown-item" href="#">Chef InSpec</a>
									<a class="dropdown-item" href="#">Chef Habitat</a>
									<a class="dropdown-item" href="#">Chef Automate</a>
									<a class="dropdown-item" href="#">Chef Workstation</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">Chef Effortless Infrastructure Suite</a>
									<a class="dropdown-item" href="#">Chef Enterprise Automation Stack</a>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Docs</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Learn</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Blog</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Download</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Contribute</a>
							</li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</nav>