<div class="social-share-container center-xs">
	<div class="row">
		<div class="col">
			<a href="{{ .Site.Params.facebook }}" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
				<i class="fab fa-facebook fa-lg" title="Facebook" aria-hidden="true"></i>
			</a>
		</div>
		<div class="col">
			<a href="{{ .Site.Params.twitter }}" target="_blank" rel="noopener noreferrer" aria-label="Twitter"> 
				<i class="fab fa-twitter fa-lg" title="Twitter" aria-hidden="true"></i>
			</a>
		</div>
		<div class="col">
			<a href="{{ .Site.Params.linkedin }}" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
				<i class="fab fa-linkedin fa-lg" title="LinkedIn" aria-hidden="true"></i>
			</a>
		</div>
		<div class="col">
			<a href="{{ .Site.Params.github }}" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
				<i class="fab fa-github fa-lg" title="GitHub" aria-hidden="true"></i>
			</a>
		</div>
		<div class="col">
			<a href="{{ .Site.Params.youtube }}" target="_blank" rel="noopener noreferrer" aria-label="YouTube">
				<i class="fab fa-youtube fa-lg" title="YouTube" aria-hidden="true"></i>
			</a>
		</div>
	</div>
</div>
