<div class="social">
	<div class="row">
		<div class="col">
			<a href="{{ .Site.Params.facebook }}" target="_blank">
				<i class="fab fa-facebook"></i>
			</a>
		</div>
		<div class="col">
			<a href="{{ .Site.Params.twitter }}" target="_blank">
				<i class="fab fa-twitter fa-lg"></i>
			</a>
		</div>
		<div class="col">
			<a href="{{ .Site.Params.linkedin }}" target="_blank">
				<i class="fab fa-linkedin fa-lg"></i>
			</a>
		</div>
		<div class="col">
			<a href="{{ .Site.Params.github }}" target="_blank">
				<i class="fab fa-github fa-lg"></i>
			</a>
		</div>
		<div class="col">
			<a href="{{ .Site.Params.youtube }}" target="_blank">
				<i class="fab fa-youtube fa-lg"></i>
			</a>
		</div>
	</div>
</div>
