<div class="container-fluid">
	<div class="row">
		<div class="col-lg-4 col-sm-12 card-container">
			<div class="card">
				<div class="row">
					<div class="col-sm-12">
						<h3>{{ .Params.cards.one.title }}</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						{{ .Params.cards.one.body | markdownify }}
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-sm-12 card-container">
			<div class="card">
				<div class="row">
					<div class="col-sm-12">
						<h3>{{ .Params.cards.two.title }}</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 events-list">
						{{ .Params.cards.two.body | markdownify }}
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-sm-12 card-container">
			<div class="card">
				<div class="row">
					<div class="col-sm-12">
						<h3>{{ .Params.cards.three.title }}</h3>
					</div>
				</div>
	
				<div class="row">
					<div class="col-sm-12">
						{{ .Params.cards.three.body | markdownify }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>