<div class="container-fluid action-cards">
  <div class="row">
    <div class="col-lg-4 col-sm-6 col-12 card-container" data-scroll-speed="4">
      <div class="card">
        <div class="row">
          <div class="col-sm-12 text-center">
            <img src="{{ .Params.cards.one.icon }}" class="card-icon mb-2" alt="" />
            <h3>{{ .Params.cards.one.title }}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            {{ .Params.cards.one.body | markdownify }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-12 card-container" data-scroll-speed="4">
      <div class="card">
        <div class="row">
          <div class="col-sm-12 text-center">
            <img src="{{ .Params.cards.two.icon }}" class="card-icon mb-2" alt="" />
            <h3>{{ .Params.cards.two.title }}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 events-list">
            {{ .Params.cards.two.body | markdownify }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-12 card-container" data-scroll-speed="4">
      <div class="card">
        <div class="row">
          <div class="col-sm-12 text-center">
            <img src="{{ .Params.cards.three.icon }}" class="card-icon mb-2" alt="" />
            <h3>{{ .Params.cards.three.title }}</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            {{ .Params.cards.three.body | markdownify }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-wave">
  <div><img draggable="false" src="/img/bg-wave.png" alt="" /></div>
</div>