<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2>{{ .Params.adoption.header }}</h2>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-12 col-lg-7">
      <p><a href="https://community.chef.io/tools/chef-automate/">Chef Automate</a> provides enterprise management and observability capabilities and is included with every Chef Subscription. Automate offers visual UIs, real-time interactive dashboards, role-based access controls, third-party integrations, data APIs, and much more. Automate enables Infrastructure, DevOps, Security, Cloud and Release teams to easily collaborate and get work done, all while maintaining an auditable history of changes to systems environments.<br><br>In addition, Chef Automate can be used to install Chef Infra Server either for a single-host installation that contains both Chef Infra Server and Chef Automate, or for a standalone Chef Infra Server instance. Chef Automate also provides a graphical management console for the Chef Infra Server.</p>
    </div>
    <div class="col-12 col-lg-5 text-center">
      <img src="{{ .Params.adoption.image}}" alt="{{ .Params.adoption.header }}">
    </div>
  </div>
</div>