<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2>{{ .Params.getStarted.header }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-1">
          <p class="number">1</p>
        </div>
        <div class="col-5">
          <h4>{{ .Params.getStarted.one.header }}</h4>
          <p>{{ .Params.getStarted.one.copy | markdownify }}</p>
        </div>
        <div class="col-6 text-center">
          <pre style="overflow-y:auto" tabindex="0">
            <code class="language-bash">{{ .Params.getStarted.one.code }}</code>
          </pre>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-1">
          <p class="number">2</p>
        </div>
        <div class="col-5">
          <h4>{{ .Params.getStarted.two.header }}</h4>
          <p>Working with Chef Infra Client starts with creating workspaces that provide flexibility to manage a wide variety of configurations, policies, node lists and much more from your workstation. The <code>chef generate repo <repo></code> and <code>chef generate cookbook <cookbook_name></code> the context for your configuration management projects and creates initial files and folders to keep everything in order. </p>
        </div>
        <div class="col-6">
          <pre style="overflow-y:auto" tabindex="0">
            <code class="language-bash">{{ .Params.getStarted.two.code }}</code>
          </pre>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4 mt-4">
    <div class="col-12">
      <div class="row">
        <div class="col-1">
          <p class="number">3</p>
        </div>
        <div class="col-5">
          <h4>{{ .Params.getStarted.three.header }}</h4>
          <p>{{ .Params.getStarted.three.copy  }}</p>
        </div>
        <div class="col-6">
          <pre style="overflow-y:auto" tabindex="0">
              <code class="language-bash">{{ .Params.getStarted.three.code }}</code>
            </pre>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-1">
          <p class="number">4</p>
        </div>
        <div class="col-5">
          <h4>{{ .Params.getStarted.four.header }}</h4>
          <p>{{ .Params.getStarted.four.copy  }}</p>
        </div>
        <div class="col-6">
          <pre style="overflow-y:auto" tabindex="0">
              <code class="language-bash">{{ .Params.getStarted.four.code }}</code>
            </pre>
        </div>
      </div>
    </div>
  </div>
