<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-lg-9 offset-lg-1 text-center">
      <h2>Get started in three simple steps</h2>
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-4 d-flex flex-column justify-content-top align-items-center">
          <a href="https://docs.chef.io/chef_system_requirements/" target="_blank" rel="noreferrer noopener">
            <p class="number">1</p>
          </a>
          <h4><a href="https://docs.chef.io/chef_system_requirements/" target="_blank" rel="noreferrer noopener">Check
              Your Systems</a></h4>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 d-flex flex-column justify-content-top align-items-center">
          <a href="https://downloads.chef.io/products/workstation" target="_blank" rel="noreferrer noopener">
            <p class="number">2</p>
          </a>
          <h4><a href="https://downloads.chef.io/products/workstation" target="_blank"
              rel="noreferrer noopener">Download Chef Workstation</a></h4>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 d-flex flex-column justify-content-top align-items-center">
          <a href="https://docs.chef.io/quick_start/" target="_blank" rel="noreferrer noopener">
            <p class="number">3</p>
          </a>
          <h4><a href="https://docs.chef.io/quick_start/" target="_blank" rel="noreferrer noopener">Create and Edit
              a Cookbook</a></h4>
        </div>
      </div>
    </div>
  </div>

</div>