<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2>Chef Infra Ecosystem</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-3">
      <h3>Chef Workstation</h3>
      <p><a class="white" href="https://docs.chef.io/workstation/" target="_blank" rel="noreferrer noopenner">Chef
          Workstation</a> packages all the tools necessary to be successful with Chef Infra and InSpec. </p>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <h3>Test Kitchen</h3>
      <p><a class="white" href="https://docs.chef.io/workstation/kitchen/" target="_blank"
          rel="noreferrer noopenner">Test Kitchen</a> is an open source integration tool pioneered by Chef for
        developing and testing infrastructure
        code and software on isolated target platforms.
      </p>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <h3>Chef Supermarket</h3>
      <p> <a class="white" href="https://docs.chef.io/supermarket/" target="_blank" rel="noreferrer noopenner">Chef
          Supermarket</a> is the site for community cookbooks. It provides an easily searchable cookbook repository and
        a friendly web UI.
      </p>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <h3>Chef Cookstyle</h3>
      <p><a class="white" href="https://docs.chef.io/workstation/cookstyle/" target="_blank"
          rel="noreferrer noopenner">Chef Cookstyle</a> is a code linting tool that helps you write better Chef Infra
        cookbooks by detecting and
        automatically correcting style, syntax, and logic mistakes in your code.
      </p>
    </div>
  </div>
</div>