<!DOCTYPE html>
<html lang="{{ .Lang }}">

  <head>
    {{ partial "head-meta.html" . }}
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-grid.min.css">
    {{ $sass := resources.Get "sass/custom.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ $sass.Permalink }}">
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome/css/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome/css/brands.css">
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome/css/solid.css">
    <link rel="stylesheet" type="text/css" href="/fonts/avenirnext/css/avenirnext.css">
    
    <script src="//app-sj05.marketo.com/js/forms2/js/forms2.min.js"></script>
</head>

  <body>    
    {{ partial "nav.html" . }}

    {{ block "body" . }}
    {{ end }}

    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>

</html>