{{ define "body" }}
<main id="resources">
	
	<section class="hero-actions">
        
		<section class="hero">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-9">
						<h2>
							{{ .Params.subtitle }}
						</h2>
						<h1>{{ .Params.title }}</h1>
						<p>{{ .Content }}</p>
					</div>
				</div>
			</div>
    </section>
    
  </section>

  <section class="resources">
    <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2>{{ .Params.rowOne.header }}</h2>
      </div>
      {{ range first 3 $.Site.Data.resources }}
        {{ partial "resource-card" . }}
      {{ end }}
      <div class="col-12">
        <h2>{{ .Params.rowTwo.header }}</h2>
      </div>
      {{ range first 2 (after 3 $.Site.Data.resources) }}
       {{ partial "resource-card" . }}
      {{ end }}
      <div class="col-12">
        <h2>{{ .Params.rowThree.header }}</h2>
      </div>
      {{ range first 3 (after 6 $.Site.Data.resources) }}
       {{ partial "resource-card" . }}
      {{ end }}
      <div class="col-12">
        <h2>{{ .Params.rowFour.header }}</h2>
      </div>
      {{ range first 3 (after 9 $.Site.Data.resources) }}
       {{ partial "resource-card" . }}
      {{ end }}
      <div class="col-12">
        <h2>{{ .Params.rowFive.header }}</h2>
      </div>
      {{ range last 4 $.Site.Data.resources }}
        <div class="col-lg-3 col-sm-12 card-container">
          <div class="card">
       
            <div class="text">
              <h4>{{ .title | markdownify }}</h4>
              <a href="{{ .url }}" target="_blank">{{ .cta }}</a>
            </div>
          </div>
        </div>
      {{ end }}
      </div>
    </div>
  </section>

</main>
{{ end }}