@import "settings";

#addeventatc1 {
  border: 2px solid $chef-secondary !important;
  color: $chef-secondary !important;
  box-shadow: none !important;
  z-index: 1 !important;

  &:hover {
    color: $white !important;
    background-color: $chef-secondary !important;
  }
}
