@import "settings";

#addeventatc1 {
  border: 1px solid $chef-secondary !important;
  color: $chef-secondary !important;
  box-shadow: none !important;
  z-index: 1 !important;
  font-size: 12px;
  padding: 5px;

  &:hover {
    color: $white !important;
    background-color: $chef-secondary !important;
  }

  .addeventatc_icon {
    visibility: hidden !important;
  }
}
