#workstation {
  h1 {
    padding-top: 1.5rem;
  }
  
  .hero-actions {
    &:before {
      content: "";
      display: block;
      height: 100%; // for ie11
      height: calc(100% - calc(25vh - 100px));
      // background-image: url(/img/inspec-hero.svg);
      background-color: $light-gray;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    @include media-breakpoint-up(xxl) {
      &:before {
        background-size: 45%;
        background-position: 100% -15rem;
      }
    }
    @include media-breakpoint-down(xl) {
      &:before {
        background-size: 58%;
        background-position: 120% -250px;
      }
    }
    @include media-breakpoint-down(lg) {
      &:before {
        background-size: 80%;
        background-position: 180% -130px;
      }
    }
    @include media-breakpoint-down(sm) {
      &:before {
        background-image: none !important;
      }
    }

    .bg-wave {
      @include media-breakpoint-up(xxl) {
        height: 32vh;
      }
    }
  }

  // WORKSTATION BENEFITS TABS
  // =======================
  .benefits {
    @extend %section-padding-bottom;

    background-color: $dark-gray;
    color: $light-gray;
    display: flex;
  
    @include media-breakpoint-down(lg) {
      margin-top: 2rem;
    }

    .benefits-main {
      @extend %section-tabs;
    }

    pre {
      border: none !important;
      max-height: 300px;
    }
  }

}