#workstation {
  h1 {
    padding-top: 1.5rem;
  }
  
  .hero-actions {
    &:before {
      background-color: $light-gray;
      background-image: url(/img/workstation-hero.svg);
      background-repeat: no-repeat;
      content: "";
      display: block;
      height: 100%; // for ie11
      height: calc(100% - calc(25vh - 100px));
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
    @include media-breakpoint-up(xxl) {
      &:before {
        background-position: 100% -15rem;
        background-size: 45%;
      }
    }
    @include media-breakpoint-down(xl) {
      &:before {
        background-position: 120% -250px;
        background-size: 58%;
      }
    }
    @include media-breakpoint-down(lg) {
      &:before {
        background-position: 180% -130px;
        background-size: 80%;
      }
    }
    @include media-breakpoint-down(sm) {
      &:before {
        background-image: none !important;
      }
    }

    .bg-wave {
      @include media-breakpoint-up(xxl) {
        height: 32vh;
      }
    }

    img.hero-gif {
      border: 1rem solid $dark-gray;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  // WORKSTATION BENEFITS TABS
  // =======================
  .benefits {
    @extend %section-padding-bottom;

    background-color: $dark-gray;
    color: $light-gray;
    display: flex;
  
    @include media-breakpoint-down(lg) {
      margin-top: 2rem;
    }

    .benefits-main {
      @extend %section-tabs;
    }

    pre {
      border: none !important;
      max-height: 300px;
    }
  }
  .card ul {
    list-style-type: disc;
    margin-bottom: 0;
    margin-top: 0.3rem;
    padding-left: 1rem;

    li {
      margin-bottom: 0.2rem;
    }
  }
}
