@import "settings";

// Do not remove
#ot-sdk-btn {
  background: $dark-gray !important;
  color: $light-gray !important;
  padding: 5px 0 !important;
  
  &:hover,
  &:active {
    color: $chef-primary !important;
    text-decoration: none;
  }
}

footer {
  #ot-sdk-btn.ot-sdk-show-settings, #ot-sdk-btn.optanon-show-settings {
     background: transparent !important;
      border: none !important;
      width: auto !important;
      height: auto !important;
      font-size: 15px !important;
      font-family: inherit !important;
      line-height: inherit !important;
      font-weight: inherit !important;
      letter-spacing: inherit !important;
      max-width: 100%;
      font-style: inherit !important;
      padding: 0 !important;
      margin: 0 !important;
  }
}
