@import "media-queries";
@import "settings";

// General Layout Styles
// ========================

.container{
    @media (min-width: 1400px) { 
        max-width: 1320px;
    }
}

.container-fluid {
	max-width: 1418px;
	margin-left: auto;
	margin-right: auto;
	
	@include breakpoint(md){
		padding-left: 2rem;
		padding-right: 2rem;
	}
	
	@include breakpoint(lg){
		padding-left: 4rem;
		padding-right: 4rem;
	}
	
	&.no-max {
		max-width: none;
		max-width: none;
		padding: 0 15px;
	}
}

// Main Nav Styles
// ========================
#main-nav {
	background-color: $chef-primary;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
	position: sticky;
	top: 0;
	z-index: 10;
	height: 55px;
	
	.navbar {
		padding: 0;
	}
	
	.navbar-collapse {
		@include breakpoint(md down){
			background: white;
			margin: 0px -15px -3px;
			padding: 15px;
			overflow-y: scroll;
			position: fixed;
			top: 55px;
			width: 100%;
			bottom: 0;
		}
		@include breakpoint(md){
			justify-content: flex-end;
		}
	}
	
	.navbar-nav {
		margin: 0;
		
		li {
			margin-bottom: 0;
			
			a {
				color: $light-gray;
				font-size: 16px;
				color: $dark-gray;
				transition: color 0.15s ease-in-out;
				
				&:hover {
					@include breakpoint(md down){
						color: $chef-primary;
					}
					@include breakpoint(md){
						color: white;
					}
				}
			}
			
			.dropdown-menu {
				border-radius: 0;
				border: none;
				margin: 0;
				margin-top: 6px;
				
				@include breakpoint(md down){
					margin: 0;
					padding: 0 15px;
				}
				
				a {
					@include breakpoint(md down){
						padding: 0.25rem;
					}
					
					&:hover {
						background-color: transparent;
						
						@include breakpoint(md){
							background-color: $chef-primary;
						}
					}
				}
			}
		}
	}
	
	.search {
		height: 26px;
		position: relative;
		display: block;
		
		@include breakpoint(md down){
			margin-bottom: 1rem;
			height: auto;
		}
		
		@include breakpoint(md){
			margin-right: 1rem;
		}
		
		#search-box {
			padding: 3px 5px 2px 34px;
			border: none;
			background-color: lighten($chef-primary, 20%);
			transition: linear 1s;
			line-height: 1;
			font-size: 14px;
			font-weight: normal;
			color: $dark-gray;
			height: 26px;
			display: block;
			width: 130px;
			transition: all 0.15s ease-in-out;
			
			&:focus, &:hover {
				background-color: $white;
				outline: none;
				
				& + #search-icon {
					color: $chef-primary;
				}
			}
			
			::placeholder {
				font-size: 0.8em;
			}
			
			@include breakpoint(md down){
				background-color: white;
				border: $mid-gray;
				border: 1px solid #666;
				width: 100%;
				height: 35px;
			}
		}
	
		#search-icon {
			position: absolute;
			left: 0;
			padding: 0 10px;
			top: 3px;
			font-size: 14px;
			
			&:hover {
				color: $white;
			}
			
			&:focus {
				outline: none;
				box-shadow: none;
			}
			
			@include breakpoint(md down){
				padding: 4px 10px;
			}
		}
	}
	
	.navbar-toggler {
		border: none;
		padding: 0;
		color: $dark-gray;
		
		&:focus {
			outline: none;
			box-shadow: none;
		}
	}
}

#main-navvv {
    background-color: $chef-primary;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
	position: sticky;
	top: 0;
	z-index: 10;
	
	.nav-contents {
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		// for mobile menu
		@include breakpoint(md down){
			position: relative;
		}
	}
	
	.logo-link {
		display: block;
		padding: 5px 0;
	}
	
	.nav {
		margin-right: -1rem;
	}
	
	.dropdown-menu {
		border-radius: 0;
		border: none;
		margin-top: 7px;
	}
	
    .dropdown-item:hover {
		background-color: $chef-primary;
		color: $white;
    }
	
	.nav-items {
		//desktop menu
		@include breakpoint(md){
			display: block;
			position: static !important;
			transform: none !important;
			background: none;
			float: none;
			min-width: 0;
			padding: 0;
			margin: 0;
			font-size: inherit;
		}
		// mobile menu
		@include breakpoint(md down){
			width: auto;
			left: -15px !important;
			right: -15px;
			transform: none !important;
			top: 53px !important;
			margin: 0;
			padding: 0;
			
			.nav {
				margin: 0;
				display: block;
			}
		}
		
	}
	
	.nav-item {
	
		&.show {
			> a {
				color: white;
			}
		}
	}
	
	.nav-link {
		@include breakpoint(md only){
			padding: .5rem 0.7rem;
		}
	}
	
    a {
        color: $light-gray;
		font-size: 16px;
		color: $dark-gray;
		transition: color 0.15s ease-in-out;
		
		&:hover {
			color: white;
		}
    }
	
	.search {
		height: 26px;
		position: relative;
		display: block;
		margin: 0 1rem;
	}
	
    #search-box {
		padding: 3px 5px 2px 34px;
		border: none;
		background-color: lighten($chef-primary, 20%);
		transition: linear 1s;
		line-height: 1;
		font-size: 14px;
		font-weight: normal;
		color: $dark-gray;
		height: 26px;
		display: block;
		width: 130px;
		transition: all 0.15s ease-in-out;
		
		&:focus, &:hover {
			background-color: $white;
			outline: none;
			
			& + #search-icon {
				color: $chef-primary;
			}
		}
		
		::placeholder {
			font-size: 0.8em;
		}
    }

    #search-icon {
		position: absolute;
		left: 0;
		padding: 0 10px;
		top: 2px;
		
		&:hover {
			color: $white;
		}
		
		&:focus {
			outline: none;
			box-shadow: none;
		}
    }

}

// Main Footer Styles
// ========================

#main-footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: $light-gray;
    background-color: $dark-gray;
	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		
		li {
			margin: 0;
			padding: 0;
			margin-bottom: 0.5rem;
		}
	}
	
	h5 {
		margin-bottom: 0.5rem;
		font-size: 1.2rem;
		font-weight: 600;
	}
	
	a {
		color: $light-gray;
		font-size: 16px;
	}
	
	.nav-items {
		margin-bottom: 2rem;
	}
	
	.main-col-row {
		@include breakpoint(md){
			display: flex;
		}
	}
	
	.col-menus {
		@include breakpoint(md){
			display: flex;
			align-content: space-between;
			flex-flow: row wrap;
			
			> .row {
				width: 100%;
			}
		}
	}
	
	.social {
		@include breakpoint(md down){
			margin-bottom: 2rem;
		}
		
		.row {
			display: block;
			
			.col {
				display: inline;
			}
		}
		
		.fa-github:hover {
			color: darken(white, 50%);
		}
	}
}



// General Typography Styles
// ========================

body {
	font-family: $font-primary;
	font-size: 18px;
	font-weight: 400;
    line-height: 1.625;
	color: $dark-gray;
}

::selection {
    background-color: lighten($chef-primary, 10%);

}

a {
    color: $chef-primary;

    &:hover {
        text-decoration: underline;
        color: darken($chef-primary, 5%);
    }

    &::selection {
        color: $light-gray;
    }
}

h1,h2,h3,h4,h5,h6 {
    font-family: $font-primary;
	font-weight: 700;
	margin-bottom: 1rem;
	
    .highlight {
        color: $chef-secondary;
		font-weight: 700;
    }
}

h1 {
    letter-spacing: -1px;
}

ul, ol {
	&:not(.nav){
		li {
			margin-bottom: 1rem;
		}
	}
}

// Flexbox styles
// ========================

.flex-center {
	display: flex;
	justify-content: center;
}

.v-center {
	display: flex;
	align-items: center;
}

// Form styles
// ========================
select {
	background-color: #fff;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('../img/icons/select-dropdown.svg');
    background-size: 9px 6px;
    background-position: 100%;
    background-origin: content-box;
    background-repeat: no-repeat;
}

// Component Styles
// =======================
.hero-actions {
  position: relative;
  
  &:before {
	  content: "";
	  display: block;
	  height: calc(100% - 250px);
	  background-image: url(/img/lines.png);
	  background-size: cover;
	  background-position: center;
	  background-color: $light-gray;
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
  }
  
	
  .hero, .actions {
	  background-image: none;
	  background-color: transparent;
  }
  
  .actions {
	  position: relative;
	  
	  &:after {
		  content: "";
		  display: block;
		  position: absolute;
		  height: 250px;
		  width: 100%;
		  background-color: $dark-gray;
		  bottom: 0;
	  }
  }
  
}

.hero {
	@extend %section-padding;			
	@include breakpoint(md){
		padding-top: 15vh;
		padding-bottom: 15vh;
	}
	background-size: cover;
	background-position: center;
	background-color: $light-gray;
	background-image: url(/img/lines.png);
}

.card-container {
	&:not(:last-child){
		@include breakpoint(lg down){
			margin-bottom: 1rem;
		}
	}
}

.card {
  border: none;
  background-color: $white;
  padding: 2rem;
  height: 100%;
  z-index: 2;
  display: block;
  border-radius: 0;

  p {
	  font-size: 0.95em;;
  }
  a {
	  font-weight: 600;
  }

  h3 {
	  margin-bottom: 2rem;
  }
  
  h5:not(:first-of-type) {
	  margin-top: 2rem;
  }

  ul {
	  list-style-type: none;
	  padding-left: 0;
  }
}

.social {
	a:hover {
		text-decoration: none;
	}
	
	.fa {
		&-facebook:hover {
			color: #4267B2;
		}

		&-twitter:hover {
			color: #1DA1F2;
		}

		&-linkedin:hover {
		color: #0073b1;
		}

		&-github:hover {
			color: #24292e;
		}

		&-youtube:hover {
			color: #ff0000;
		}
	}
}

// Button Styles
// =======================

.btn {
  border: none;
  font-weight: 500;
  padding: .4rem 1rem;
  border-radius: 0;
  font-size: 18px;

  &-primary {
	background: $chef-primary;
	border: 2px solid $chef-primary;
	color: white;

	&:hover,
	&:focus,
	&:active {
	  background-color: transparent;
	  border: 2px solid $chef-primary;
	  color: $chef-primary;
	}
	
	&-white {
	  background: white;
	  border: 2px solid white;
	  color: $dark-gray;
	  font-weight: 600;
  
	  &:hover,
	  &:focus,
	  &:active {
		background-color: transparent;
		border: 2px solid white;
		color: white;
	  }
	}
  }

  &-secondary {
	background-color: transparent;
	border: 2px solid $chef-primary;
	color: $chef-primary;

	&:hover,
	&:focus,
	&:active {
	  background-color: $chef-primary;
	  border: 2px solid $chef-primary;
	  color: white;
	}
  }

  //Full width buttons on xs devices
  @include breakpoint (xs only) {
	  margin: 10px auto;
	  padding-top: 12px;
	  padding-bottom: 12px;
	  width: 95%;
  }
}

// Image Styles
// =============
img {
	max-width: 100%;
	height: auto;
}

.img-round {
  border-radius: 50%;
}

// Tab Styles
// =============
.nav-tabs {
	border-bottom: none;
	
	.nav-item {
		margin-bottom: 0;
		
		.nav-link {
			color: #808080;
			border: none;
			font-weight: 600;
			
			&.active, &:hover {
				color: $chef-primary;
				background-color: transparent;
				border: none;
			}
		}
	}
}

@import "marketo";
@import "home";
@import "first-time";