@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700,800');

@import "media-queries";
@import "settings";
@import "cookiepro";

// General Layout Styles
// ========================
body {
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  color: $dark-gray;
}

.container {
  @media (min-width: 1400px) {
    max-width: 1320px;
  }
}

.container-fluid {
  max-width: 1418px;
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-up(md) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include media-breakpoint-up(lg) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  &.no-max {
    max-width: none;
    padding: 0 15px;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
}

.v-center {
  display: flex;
  align-items: center;
}


// Image Styles
// =============
img {
  max-width: 100%;
  height: auto;
}

.img-round {
  border-radius: 50%;
}

.img-left {
  display: flex;
  justify-content: start;
}

.chef-wordmark {
  max-height: 40px;
  width: auto;
  @include media-breakpoint-only(sm) {
    max-height: 25px;
  }
}

// Main Nav Styles
// ========================
#main-nav {
  background-color: $chef-primary;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 55px;

  .navbar {
    padding: 0;
  }

  .navbar-brand {
    flex-shrink: 0;
  }

  .navbar-collapse {
    @include media-breakpoint-down(sm) {
      background: white;
      margin: 0px -15px -3px;
      padding: 15px;
      overflow-y: scroll;
      position: fixed;
      top: 55px;
      width: 100%;
      bottom: 0;
    }
    @include media-breakpoint-up(sm) {
      justify-content: flex-end;
    }
  }

  .navbar-nav {
    margin: 0;

    li {
      margin-bottom: 0;

      @include media-breakpoint-up(lg) {
        padding-right: 0.4rem;
        padding-left: 0.4rem;
      }

      a {
        color: $light-gray;
        font-size: 16px;
        color: $dark-gray;
        transition: color 0.15s ease-in-out;

        @include media-breakpoint-only(md) {
          font-size: 15px;
          padding-right: 0.35rem;
          padding-left: 0.35rem;
        }

        &:hover {
          @include media-breakpoint-down(sm) {
            color: $chef-primary;
          }
          @include media-breakpoint-up(md) {
            color: white;
          }
        }
      }

      .dropdown-menu {
        border-radius: 0;
        border: none;
        margin: 0;
        margin-top: 6px;

        @include media-breakpoint-down(sm) {
          margin: 0;
          padding: 0 15px;
        }

        a {
          @include media-breakpoint-down(sm) {
            padding: 0.25rem;
          }

          &:hover {
            background-color: transparent;

            @include media-breakpoint-up(md) {
              background-color: $chef-primary;
            }
          }
        }
      }
    }
  }

  .search {
    height: 26px;
    position: relative;
    display: block;
    width: 39px;
    transition: width 0.75s ease-in-out;

    @include media-breakpoint-down(sm) {
      margin-bottom: 1rem;
      height: auto;
      width: auto;
    }

    @include media-breakpoint-up(md) {
      margin-right: 0.4rem;

      &:hover {
        width: 170px; // update to fit the nav links

        #search-box {
          background-color: white;
        }
		
		#search-icon {
			color: $chef-primary;
		}
      }
    }
	
	@include media-breakpoint-up(xl) {
      &:hover {
        width: 250px; // update to fit the nav links
      }
    }

    #search-box {
      padding: 3px 5px 2px 34px;
      border: none;
      background-color: $chef-primary;
      transition: linear 1s;
      line-height: 1.5;
      font-size: 14px;
      font-weight: normal;
      color: $dark-gray;
      height: 26px;
      display: block;
      width: 100%;

      &:focus,
      &:hover {
        outline: none;
      }

      ::placeholder {
        font-size: 0.8em;
      }

      @include media-breakpoint-down(sm) {
        background-color: white;
        border: $mid-gray;
        border: 1px solid #666;
        width: 100%;
        height: 35px;
      }
    }

    #search-icon {
      position: absolute;
      left: 0;
      padding: 0 10px;
      top: 3px;
      font-size: 14px;
      width: auto;
      margin: 0;
      line-height: 23px;

      &:focus {
        outline: none;
        box-shadow: none;
      }

      @include media-breakpoint-down(sm) {
        padding: 4px 10px;
      }
    }
  }

  .navbar-toggler {
    border: none;
    padding: 0;
    color: $dark-gray;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

// Footer Styles
// ========================

#footer {
  background-color: $dark-gray;
  color: $light-gray;
  padding-top: 2rem;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
      margin-bottom: 0.5rem;
    }
  }

  h5 {
    padding: .5rem 0 .3rem 0;
    font-size: 1rem;
    text-transform: uppercase;
  }

  p {
    color: $light-gray;
    font-size: 15px;
  }

  a {
    color: $light-gray;
    font-size: 15px;

    &:hover,
    &:active,
    &:focus {
      color: $chef-primary;
    }
  }

  #main-footer {
    background-color: $dark-gray;
    padding-bottom: 2rem;
    max-width: 100%;
  }

  #super-footer {
    background-color: black;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    max-width: 100%;
  }

  .nav-items {
    margin-bottom: 2rem;
  }

  .main-col-row {
    @include media-breakpoint-up(md) {
      display: flex;
    }
  }

  .col-menus {
    @include media-breakpoint-up(md) {
      display: flex;
      align-content: space-between;
      flex-flow: row wrap;

      > .row {
        width: 100%;
      }
    }
  }

  .social {
    @include media-breakpoint-down(sm) {
      margin-bottom: 2rem;
    }

    .row {
      display: block;

      .col {
        display: inline;
      }
    }

    .fa-github:hover {
      color: darken(white, 50%);
    }
  }

  .footer-form-container {
    position: relative;

    .mktoForm {
      &:not(.submitted) {
        + .footer-form-thank-you {
          display: none;
        }
      }

      &.submitted {
        opacity: 0;
      }
    }

    .footer-form-thank-you {
      position: absolute;
      top: 0;
      padding-top: 8px;

      p {
        font-size: 14px;
        margin-bottom: 0.5rem;

        a {
          font-size: inherit;
        }
      }
    }
  }
}

// Form styles
// ========================
select {
  background-color: #fff;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../img/icons/select-dropdown.svg");
  background-size: 9px 6px;
  background-position: 100%;
  background-origin: content-box;
  background-repeat: no-repeat;
}

input {
	-webkit-appearance: none;
	border-radius: 0;
}

// COMPONENT STYLES
// Common across multiple pages
// =======================
.hero-actions {
  position: relative;

  // .hero,
  // .actions {
  //   background-image: none;
  //   background-color: transparent;
  // }

  .actions {
    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      height: 200px;
      width: 100%;
      background-color: $dark-gray;
      bottom: 0;
    }
  }
}

.hero {
  @extend %section-padding;
  
  @include media-breakpoint-up(md) {
    padding-top: 15vh;
    padding-bottom: 15vh;
  }

  h1 {
    color: $chef-secondary;
    margin-bottom: .8rem;
    margin-top: 0;
  }
  
  h2 {
    margin-bottom: 0.5rem;
  }

  #chefio {
    font-size: 0.8em;
    color: $mid-gray;
  }
}

.card-hover {
  background-color: $light-gray;
  padding-top: 1rem;
  border: 1px solid $light-gray;
  min-height: 180px;
  transition: box-shadow .3s ease-in-out,transform .3s ease-in-out,-webkit-box-shadow .3s ease-in-out,-webkit-transform .3s ease-in-out;
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.00),0 4px 8px 3px rgba(60, 64, 67, 0.0);
  
  &:hover {
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.05),0 4px 8px 3px rgba(60, 64, 67, 0.15);
  }

  h5 {
    color: $dark-gray;
    margin-bottom: 0.5rem;
  } 
  p {
    color: $dark-gray;
  }

  .note {
    font-size: .8rem;
  }

}

.card-container {
  &:not(:last-child) {
    @include media-breakpoint-down(md) {
      margin-bottom: 1rem;
    }
  }
  
  &:hover {
    box-shadow: var(--elevation3);
    transform: translateY(-4px);
  }

  .card {
    border: none;
    background-color: $white;
    padding: 2rem;
    height: 100%;
    z-index: 2;
    display: block;
    border-radius: 0;
  
    p {
      font-size: 0.95em;
    }
    a {
      font-weight: 700;
    }
  
    h3 {
      margin-bottom: 2rem;
    }
  
    h5:not(:first-of-type) {
      margin-top: 2rem;
    }
  
    ul {
      list-style-type: none;
      padding-left: 0;
    }
    
  }
}

.actions {
  position: relative;

  .action-cards {
    @include media-breakpoint-up(xl){
      padding-bottom: 7rem;
    }
  }

  &:after {
    display: none;
  }

  .bg-wave {
    position: absolute;
    bottom: 0;
    height: 38vh;
    width: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    
    //Filling in the empty space below the wave with dark gray
    div {
      border-bottom: 3px solid #292728; // remove line that appears when screen is scaled.
      
      &:after {
        background-color: $dark-gray;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
      }

      img {
        width: 100%;
        height: 100px;
      }
    }
  }
}

.resources {
  @extend %section-padding;

  .card {
    padding: 0;
    border: 1px solid $mid-gray;
    background-color: white;
    display: flex;
    flex-flow: column;
  
    @include media-breakpoint-only(md) {
      padding: 1rem;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: flex-start;
    }

    h4 {
      margin-bottom: 1rem;
      a {
        color: inherit;
      }
    }

    img {
      max-width: none;
      width: 100%;
    }

    .img {
      @include media-breakpoint-only(md) {
        width: 33.33%;
        flex-shrink: 0;
      }
    }

    .text {
      padding: 1rem;
      flex: 1;
      display: flex;
      flex-flow: column nowrap;

      @include media-breakpoint-only(md) {
        padding: 0;
        padding-left: 1rem;
      }

      @include media-breakpoint-up(lg) {
        padding: 2rem;
      }
      
      > *:last-child {
        margin-top: auto;
      }
    }
  }
}

// Social Media Share Styles
// =======================
.social {
  a:hover {
    text-decoration: none;
  }

  .fa {
    &-facebook:hover {
      color: #4267b2;
    }

    &-twitter:hover {
      color: #1da1f2;
    }

    &-linkedin:hover {
      color: #0073b1;
    }

    &-github:hover {
      color: #24292e;
    }

    &-youtube:hover {
      color: #ff0000;
    }
  }
}

// Button Styles
// =======================

.btn {
  border: none;
  font-weight: 500;
  padding: 0.4rem 1rem;
  border-radius: 2px;
  font-size: 17px;

  &-primary {
    background: $chef-primary;
    border: 2px solid $chef-primary;
    color: white;

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      border: 2px solid $chef-primary;
      color: $chef-primary;
    }

    &-white {
      background: white;
      border: 2px solid white;
      color: $dark-gray;
      font-weight: 600;

      &:hover,
      &:focus,
      &:active {
        background-color: transparent;
        border: 2px solid white;
        color: white;
      }
    }
  }

  &-secondary {
    background-color: transparent;
    border: 2px solid $chef-primary;
    color: $chef-primary;

    &:hover,
    &:focus,
    &:active {
      background-color: $chef-primary;
      border: 2px solid $chef-primary;
      color: white;
    }
  }

  //Full width buttons on xs devices
  @include media-breakpoint-only(xs) {
    margin: 1rem;
    padding-top: 12px;
    padding-bottom: 12px;
    max-width: 100%;
  }
}

// Tab Styles
// =============
.nav-tabs {
  border-bottom: none;

  .nav-item {
    margin-bottom: 0;

    .nav-link {
      color: white;
      border: none;
      font-weight: 600;

      &.active,
      &:hover {
        color: $chef-primary;
        background-color: transparent;
        border: none;
      }
    }
  }
}

// Table Styles
// =============
table {
	width: 100%;
}

// Code Styles
// =============
pre {
  font-size: .9rem;
  white-space: pre-line;
  word-wrap: break-word;
  overflow-x: auto;
}   
pre.prettyprint {
  padding-left: 1rem !important;
}

/* desert scheme ported from vim to google prettify */
pre.prettyprint { display: block; background-color: $dark-gray; }
pre .nocode { background-color: none; color: #000 }
pre .str { color: $chef-secondary; } /* string  - pink */
pre .kwd { color: #f0e68c; font-weight: bold }
pre .com { color: #87ceeb } /* comment - skyblue */
pre .typ { color: $chef-primary; } /* type */
pre .lit { color: $habitat-color; } /* literal */
pre .pun { color: #fff }    /* punctuation */
pre .pln { color: #fff }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: $chef-secondary; } /* attribute value - pink */
pre .dec { color: $chef-primary;} /* decimal*/

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre.prettyprint { background-color: none }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
}

// Misc Styles
// =============
[data-scroll-speed] {
  z-index: 1;

  @include media-breakpoint-down(md) {
    transform: none !important;
  }
}


@import "type";
@import "marketo";
@import "home";
@import "inspec";
@import "first-time";
@import "search";
@import "markdown";