#first-time{
    .hero-actions {

      &:before {
        content: "";
        display: block;
        height: 100%; // for ie11
        height: calc(100% - calc(25vh - 100px));
        background-image: url(/img/puzzle.svg);
        background-repeat: no-repeat;
        background-color: $light-gray;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
      }

      @include media-breakpoint-between(lg, xl) {
        &:before {
          background-position: 140% -70px;
          background-size: contain;
        }
      }
    
      @include media-breakpoint-down(lg) {
        &:before {
          background-position: 165% -50px;
          background-size: 60%;
        }
      }
      
      @include media-breakpoint-down(sm) {
        &:before {
          background-image: none !important;
        }
      }
      @include media-breakpoint-up(xl) {
        &:before {
          background-position: 160% -10px;
          background-size: 70%;
        }
      }
    }

    h1 {
        color: $chef-secondary;
    }
	
    // .swag-program {
    //     background-color: $dark-gray;
    //     color: $light-gray;
    //     @extend %section-padding;

    //     h2 {
    //         color: $chef-primary;
    //     }

    //     img {
    //         width: 100%;
    //         margin-bottom: 1.2rem;
    //     }
    // }
}