#first-time{
	
    h1 {
        color: $chef-primary;
    }
	
	.actions{
		&:after {
			background-color: #414042;
		}
		
		a {
			color: $chef-secondary;
		}
	}
	
    .swag-program {
        background-color: #414042;
        color: $light-gray;
        @extend %section-padding;

        h2 {
            color: $chef-primary;
        }

        img {
            width: 100%;
            margin-bottom: 1.2rem;
        }
    }
}