#home {
	
	.hero-actions {
		&:before {
			height: calc(100% - 150px);
		}
	}
	.actions {
		position: relative;
		
		&:after {
			display: none;
		}
		
		.bg-wave {
			position: absolute;
			bottom: 0;
			height: 250px;
			width: 100%;
			
			div {
				&:after {
					background-color: $dark-gray;
					content: "";
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
				}
				
				img {
					width: 100%;
					height: 100px;
				}
			}
		}
	}
    .card {
        .events-list {
            li {
                font-size: 0.95em;
				
				> a {
					color: $dark-gray;
					font-weight: 700;
				}
            }
        }
		
		.contributors-list {
			text-align: center;
		}

        .social {
            margin-top: 2rem;
            a {
                color: $dark-gray;
                
                .fab:hover {
                    background-color: $white;
                }

                .fa {
                    &-facebook:hover {
                        color: #4267B2;
                    }

                    &-twitter:hover {
                        color: #1DA1F2;
                    }

                    &-linkedin:hover {
                    color: #0073b1;
                    }

                    &-github:hover {
                        color: #24292e;
                    }

                    &-youtube:hover {
                        color: #ff0000;
                    }
                }
            }
        }
    }

    .product-grid {
        background-color: $dark-gray;
        color: $light-gray;
		display: flex;
		
		h2 {
			font-weight: 400;
		}
		
        .product-grid-main {
            background-color: $dark-gray;
			height: 100%;
    
            #prodgrid-img {
                height: 100%;
				overflow: visible;
				position: absolute;
				top: 50%;
				width: auto;
				transform: translateY(-50%);
				right: 2vw;
				max-width: none;
            }

            .product-grid-copy {
				padding-top: 25vh;
				padding-bottom: 25vh;
                
                ul {
                    margin-bottom: 1rem;
                    margin-left: -15px;
                    
					.nav-link {
						&.active, &:hover {
							color: white;
						}
					}
                    
                }

                .btn {
                    margin-top: 1rem;
                }

            }
        }

        
    }

    .community {

        h2 {
            margin-bottom: 2rem;
			font-weight: 400;
        }

        .img {
            background-size: cover;
        }

        .community-copy {
            background-color: $chef-tertiary;
            color: $light-gray;
            padding: 7rem 4rem;

            .highlight {
                color: $chef-primary;
            }

            .btn {
                margin-top: 2rem;
            }
        }
    }

    .resources {
        padding: 7rem 0;
		background-image: url('/img/lines-corner.png');
		background-repeat: no-repeat;
		background-position-y: -11rem;

        h2 {
            margin-bottom: 2rem;
			font-weight: 400;
        }

        .card {
            padding-top: 0;
			border: 1px solid $mid-gray;
			
			h4 {
				font-weight: 400;
				margin-bottom: 1rem;
			}
			
            img {
                margin-left: -2rem;
				margin-right: -2rem;
				margin-bottom: 1.5rem;
				max-width: none;
				width: calc(100% + 4rem);
            }
        }
    }

    .discuss {
        .meta {
            font-size: 0.75em;

            .user {
                font-weight: 600;
            }
        }
    }
}