#home {
  .hero-actions {
    &:before {
      height: 100%; // for ie11
      height: calc(100% - calc(25vh - 100px));
    }
  }

  .hero {
    h1 {
      margin-bottom: 1rem;
			margin-top: 0;
    }
		
		h2 {
			margin-bottom: 0.5rem
		}

    #chefio {
      font-size: 0.8em;
      color: $mid-gray;
    }
  }

  .actions {
    position: relative;

    #action-cards {
			@include media-breakpoint-up(lg){
				padding-bottom: 7rem;
			}
    }

    &:after {
      display: none;
    }

    .bg-wave {
      position: absolute;
      bottom: 0;
      height: 35vh;
      width: 100%;

      div {
				border-bottom: 3px solid #292728; // remove line that appears when screen is scaled.
				
        &:after {
          background-color: $dark-gray;
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
        }

        img {
          width: 100%;
          height: 100px;
        }
      }
    }
  }
  .card {
    .card-icon {
      width: 50px;

      @include media-breakpoint-up(md) {
        width: 70px;
      }
    }

    .events-list {
      li {
        font-size: 1rem;

        > a {
          color: $dark-gray;
          font-size: 1.25rem;
        }
      }
    }

    .contributors-list {
      //text-align: center;
      margin: -2px;

      img {
        margin: 2px;
      }
    }

    .social {
      margin-top: 2rem;
      a {
        color: $dark-gray;

        .fab:hover {
          background-color: $white;
        }
      }

      .col {
        flex-grow: 0;
      }

      @include media-breakpoint-up(lg) {
        .row {
          margin: 0;
          justify-content: space-between;
        }

        .col {
          padding: 2px;
        }
      }
    }
  }

  .product-grid {
    background-color: $dark-gray;
    color: $light-gray;
    display: flex;

    .product-grid-main {
      background-color: $dark-gray;
      height: 100%;

      #prodgrid-img {
        height: calc(100% + 25vh - 100px);
        overflow: visible;
        position: absolute;
        bottom: 0;
        width: auto;
        right: 30%;
        max-width: none;

        path, circle {
          fill: none;
        }
  
        .stack-background, .automate-stroke, .infra-stroke, .inspec-stroke, .habitat-stroke, .stack-link {
          stroke-miterlimit: 10;
          stroke-width: 2px;
          transition: stroke 1s,
        }
  
        .stack-background, .stack-link, .connector {
          stroke: $chef-primary;
        }

        .automate-stroke {
          stroke: $automate-color;
        }
  
        .infra-stroke {
          stroke: $infra-color;
        }
  
        .inspec-stroke {
          stroke: $inspec-color;
        }
  
        .habitat-stroke {
          stroke: $habitat-color;
        }

        #automate-bubble, #infra-bubble, #inspec-bubble, #habitat-bubble {
          path {
            fill: $dark-gray;
          }
        }

        #automate-connector, #infra-connector, #inspec-connector, #habitat-connector {
          display: none;
        }
      }

      .product-grid-copy {
        @extend %section-padding;

        @include media-breakpoint-up(lg) {
          padding-top: 0;
          padding-bottom: 25vh;
        }

        ul {
          margin-bottom: 2.5rem;
          margin-left: -15px;

          .nav-link {
            &.active,
            &:hover {
              color: $chef-primary;
            }
          }
        }

        .btn {
          margin-top: 1rem;
        }
      }
    }
  }

  .community {

    .img {
      background-size: cover;

      &.img-left {
        background-image: url("/img/chefconf-img.jpg");
      }

      &.img-right {
        background-image: url("/img/chefconf-img2.jpg");
      }
			
			@include media-breakpoint-down(md) {
        display: none;
      }
    }

    .community-copy {
      background-color: $chef-tertiary;
      color: $light-gray;
      @extend %section-padding;

      @include media-breakpoint-up(md) {
        padding-left: 4rem;
        padding-right: 4rem;
      }

      .highlight {
        color: $chef-primary;
      }

      .btn {
        margin-top: 2rem;
      }
    }
  }

  .resources {
    @extend %section-padding;

    .card {
      padding: 0;
      border: 1px solid $mid-gray;
      background-color: white;
			display: flex;
			flex-flow: column;
		
      @include media-breakpoint-only(md) {
        padding: 1rem;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: flex-start;
      }

      h4 {
        margin-bottom: 1rem;
				
				a {
					color: inherit;
				}
				
				+ p {
					a {
						color: inherit;
					}
				}
      }

      img {
        max-width: none;
        width: 100%;
      }

      .img {
        @include media-breakpoint-only(md) {
          width: 33.33%;
          flex-shrink: 0;
        }
      }

      .text {
        padding: 1rem;
				flex: 1;
				display: flex;
				flex-flow: column nowrap;

        @include media-breakpoint-only(md) {
          padding: 0;
          padding-left: 1rem;
        }

        @include media-breakpoint-up(lg) {
          padding: 2rem;
        }
				
				> *:last-child {
					margin-top: auto;
				}
      }
    }
  }

  .discuss {
    @extend %section-padding-bottom;

    .meta {
      font-size: 0.75em;

      .user {
        font-weight: 600;
      }
    }
  }

  .discourse-feed {
    width: 100%;
    border: none;
    color: #646464;
    font-size: 15px;
    font-weight: 500;

    a {
      text-decoration: none;
    }

    h5 {
      margin-bottom: 5px;
      font-size: 17px;
      line-height: 1;
      font-weight: 500;

      a {
        color: inherit;
        font-weight: 500;
      }
    }
    .category {
      font-size: 13px;
      display: block;
      color: #646464;
      font-weight: 500;

      span {
        width: 9px;
        height: 9px;
        margin-right: 5px;
        display: inline-block;
      }
    }

    thead,
    tbody {
      border: none;
      background: none;
      color: #646464;
      font-size: 15px;
      font-weight: 500;

      tr {
        background: none;
        border-bottom: 1px solid #e9e9e9;
      }

      th,
      td {
        color: #646464;
        font-size: 15px;
        font-weight: 500;
        padding: 10px;

        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
          text-align: center;
        }

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }

    img {
      margin-right: 4px;
    }

    @include media-breakpoint-down(sm) {
      th,
      td {
        &:not(:first-child) {
          display: none;
        }
      }
    }
  }
}