// Marketo Overrides
.marketo-inline-override {
  width: 100% !important;
  font-family: $font-primary !important;

  .mktoFormCol {
    float: none !important;
  }

  .mktoHasWidth {
    width: 100% !important;
  }

  .mktoOffset {
    width: 0 !important;
  }

  .mktoGutter {
    height: 5px !important;
  }

  .mktoFieldWrap {
    float: none;
    width: 100%;
  }

  .mktoLabel {
    position: relative;
    font-size: 12px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: normal !important;

    .mktoAsterix {
      position: absolute;
      right: -15px;
      color: $chef-primary;
      font-weight: bold;
    }
  }

  .mktoButtonRow {
    display: block;
    text-align: center;
  }

  .mktoButtonWrap {
    margin-left: 0 !important;
    text-align: left;
    display: block;
  }
}

.mktoForm {
  width: 100% !important;
  padding: 0 !important;
  
  .mktoFieldWrap {
    float: none;
    position: relative;
  }

  .mktoOffset {
    display: none;
  }

  .mktoLabel {
    position: absolute;
    z-index: 3;
    top: 2px;
    left: 6px;
    text-transform: uppercase;
    font-size: 10px;
    color: $dark-gray;
    
    &.pos-rel {
      position: static;
      top: auto;
      left: auto;
      margin-bottom: 10px;
      
      .mktoAsterix {
        position: static;
      }
    }
  }

  .mktoFormCol {
    float: none;
  }

  .mktoGutter {
    display: none;
  }

  .mktoFieldDescriptor {
    margin-bottom: 10px !important;
  }

  #contactRequestType {
    min-height: 50px;
  }

  .mktoField.mktoHasWidth {
    width: 100% !important;
    float: none;
    position: relative;
    z-index: 1;
    padding: 18px 6px 3px;
    min-height: 44px;
    box-shadow: none;
	border: none;
  }

  .mktoLabel.mktoHasWidth {
    width: auto !important;
  }

  .mktoButtonRow {
    text-align: left;
  }

  .mktoButton {
	
	@extend .btn;
	@extend .btn-primary;
	font-size: 16px;
    
  }

  .mktoButtonWrap {
    margin-left: 0 !important;
  }
  
  .mktoRadioList,
  .mktoCheckboxList {
    padding: 0 !important;
  }
    
  .mktoFormRow {
    select.mktoField {
      min-height: 50px;
    }
    
    .mktoCheckboxList {
      input {
        display: none;
        
        + label {
          margin: 0;
          padding: 0;
          padding-left: 26px;
          position: relative;
          margin-bottom: 10px;
          
          &:before {
            content: "";
            border: 1px solid #cacaca;
            height: 16px;
            width: 16px;
            background: white;
            display: inline-block;
            position: absolute;
            top: -1px;
            left: 0;
          }
        }
        
        &:checked {
          
          + label {
            &:before {
              content: "\f00c";
              @extend %fas;
              font-weight: normal;
              font-size: 10px;
              text-align: center;
            }
          }
        }
      }
    }
    
  }
  
  textarea {
    clear: both;
  }
  
}

.main-footer .mktoForm {
  .mktoButton.btn {
    margin-left: 0;
    
    .text {
      color: white;
    }
  }
}

.mktoForm .mktoRequiredField .mktoAsterix.mktoAsterix-checkbox {
  display: inline;
  float: none;
  color: $chef-primary;
}

.mktoForm {
  &.centered {
    margin-left: auto;
    margin-right: auto;
    
    .mktoButtonRow, .mktoButtonWrap {
      text-align: center;
    }
  }
}

.white-text {
  .mktoForm .mktoField, .mktoForm .mktoLabel {
    color: $dark-gray !important;
  }
}