.markdown{
	@extend %section-padding;
	
	background-color: $light-gray;

	.content-col {
		background-color: $white;
		padding-bottom: 2rem;
		padding-left: 2rem;
		padding-right: 2rem;
	}

    h1 {
		color: $chef-secondary;
		font-size: 3rem;
    }
    
    td, th {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    ul:not(.nav) li {
        margin-bottom: 0.3rem;
    }
	
	h1, h2, h3, h4, h5, h6 {
		&[id] {
			&:before {
				content: "";
				display: block;
				height: 60px;
				margin-top: -55px;
				position: relative;
				width: 0;
			}
		}
		
		
	}
}