#search {
	
	h1 {
		color: $chef-secondary;
		font-weight: 800;
	}
	
	.search-container {
		@extend %section-padding;
	}
	
	.search {
		position: relative;
		display: block;
		height: 50px;
		
		#search-box {
			padding: 5px 5px 5px 43px;
			border: none;
			background-color: white;
			border: 1px solid $mid-gray;
			transition: linear 1s;
			font-weight: normal;
			color: $dark-gray;
			display: block;
			transition: all 0.15s ease-in-out;
			height: 100%;
			width: 100%;
			
			&:focus, &:hover {
				outline: none;
				
				& + #search-icon {
					color: $chef-primary;
				}
			}
			
			::placeholder {
				font-size: 0.8em;
			}
		}
	
		#search-icon {
			position: absolute;
			left: 0;
			padding: 13px 10px 13px 15px;
			top: 1px;
			font-size: 18px;
			width: auto;
			margin: 0;
			line-height: 23px;
			
			&:hover {
				color: $chef-primary;
			}
			
			&:focus {
				outline: none;
				box-shadow: none;
			}
		}
	}
}