#zero-to-compliance {
    .hero {
        background-size: cover;
        background-position: center;
        padding: 90px 0;
        margin-bottom: 5rem;

        h1,
        p {
            color: $white;
        }

        h1 {
            font-size: 2.6em;
        }

        img {
            max-height: 200px;
        }
    }

    .main-content {
        .iee-intro {
        margin-bottom: 5rem;

            img {
                max-height: 175px;
            }
        }

        .iee-table {
            margin-bottom: 5rem;
            table {
                width: 100%;
                font-size: 1.2em;

                th {
                    background-color: $chef-primary;
                    padding: 0.7rem;
                    border-right: 1px solid $white;
                }

                th:nth-last-child(2) { 
                    border-right: none;
                }

                tr {
                    td {
                        padding-left: 0.7rem;
                        padding-right: 0.7rem;
                    }
                    
                    td:nth-last-child(1) {
                        display: flex;
                        justify-content: flex-end;
                    }

                }

                tr:nth-child(even) { 
                    background-color: $light-gray; 
                } 
            }
        }

    }

    .iee-contact {
        background-color: $chef-tertiary;
        color: $white;
        padding-top: 5rem;
        padding-bottom: 5rem;
        text-align: center;

        h2 {
            margin-bottom: 1.5rem;
        }
    }
}