#zero-to-compliance {
    .hero {
        background-position: center;
        background-size: cover;
        margin-bottom: 5rem;
        padding: 90px 0;

        @include media-breakpoint-down(sm) {
            background-position: right 110%;
            margin-bottom: 3rem;
        }

        h1,
        p {
            color: $white;
        }

        h1 {
            font-size: 2.6em;
            @include media-breakpoint-down(sm) {
                font-size: 2.1em;
            }
        }

        p {
            @include media-breakpoint-down(sm) {
                font-size: 15px;
                text-align: center;
            }
        }

        .img-container {
            @include media-breakpoint-down(sm) {
                display: flex;
                justify-content: center;
            }

            img {
                max-height: 200px;

                @include media-breakpoint-down(sm) {
                    max-height: 150px;
                }

            }
        }
    }

    .main-content {
        .iee-intro {
        margin-bottom: 5rem;
        
        p {
            @include media-breakpoint-down(sm) {
                font-size: 15px;       
            }
        }

            img {
                max-height: 175px;
            }
        }

        .iee-table {
            @include media-breakpoint-up(lg) {
                margin-bottom: 5rem;
            }
            
            table {
                font-size: 1.1em;
                width: 100%;

                @include media-breakpoint-down(sm) {
                    display: none;
                }

                th {
                    background-color: $chef-primary;
                    border-right: 1px solid $white;
                    padding: 0.7rem;
                }

                th:nth-last-child(2) { 
                    border-right: none;
                }

                tr {
                    td {
                        padding-left: 0.7rem;
                        padding-right: 0.7rem;
                    }
                    
                    td:nth-last-child(1) {
                        display: flex;
                        justify-content: flex-end;
                    }

                }

                tr:nth-child(even) { 
                    background-color: $light-gray; 
                } 

                .past-event {
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    text-align: left;
                }
            }
            .iee-mobile-table {
                width: calc(100% + 30px);
                margin-left: -15px;
                margin-right: -15px;
                @include media-breakpoint-up(sm) {
                    display: none;
                }

                .iee-mobile-session {
                    padding-top:1rem;
                    padding-bottom: 1rem;
                    margin-bottom: 1rem;

                    h3 {
                        font-size: 1.6em;
                        font-weight: 600;
                        margin-bottom: 1rem;
                        text-align: center;
                    }

                    p {
                        margin-bottom: 0.3rem;
                        text-align: center;
                    }
                }

                .iee-mobile-session:nth-child(odd) { 
                    background-color: $light-gray; 
                } 
            }
        }

    }

    .iee-contact {
        background-color: $chef-tertiary;
        color: $white;
        padding-bottom: 5rem;
        padding-top: 5rem;
        text-align: center;

        h2 {
            margin-bottom: 1.5rem;
        }
    }

    .past-event {
        color: #888888;
        text-align:center;
    }
}