{{ define "body" }}
<main id="first-time">
	
	<section class="hero-actions">
        
        <section class="hero">
            {{ partial "hero.html" . }}
        </section>
        
        <section class="actions">
            {{ partial "three-cards.html" . }}
        </section>
        
    </section>
	
	<section class="swag-program">
        <div class="container-fluid">
			<div class="row">
				<div class="col-sm-12 col-lg-8 offset-lg-2">
					<h2>{{ .Params.swag_program.header }}</h2>
					<img src="/img/lcr-swag.jpg" alt="chef swag">
					{{ .Params.swag_program.body | markdownify }}
				</div>
			</div>
		</div>
    </section>
</main>

{{ end }}