
.session {
    margin-bottom: 2rem;

    h5 {
        font-size: 1.4em;
    }
    
    .speakers {
        font-weight: 600;
        font-size: 0.9em;

        .speaker:not(:first-of-type)::before  {
            content: ", "
        }
    }
}