/*
 * Settings, variables, mixins
 */
 
$chef-primary: #fe8e04;
$chef-secondary: #ef3949;
$dark-grey: #252525;
$light-gray: #eeeeee;
$mid-gray: #666666;

$font-primary: 'Avenir Next', 'Avenir', Helvetica Neue, Helvetica, sans-serif;

@mixin breakpoint($point) {
  @if $point == xsmall {
  @media (max-width: 575px) { @content; }
  }
  @if $point == small {
  @media (max-width: 768px) { @content; }
  }
  @else if $point == medium {
  @media (max-width: 992px) { @content; }
  }
  @else if $point == large {
  @media (max-width: 1199px)  { @content; }
  }
  @else if $point == xlarge {
  @media (min-width: 1200px)  { @content; }
  }
}

