<div class="container-fluid">
	<div class="row product-grid-main">
	   <div class="col-lg-4 offset-lg-1 col-sm-12 flex-center">
	        {{ partial "home/product-stack.html" . }}
	   </div>
	   <div class="col-lg-6 col-sm-12 product-grid-copy">
			<div class="product-grid-copy-wrapper">
				<h2>{{ .Params.products.header }} <span class="highlight">{{ .Params.products.header2 }}</span></h2>
				<ul class="nav nav-tabs" id="product-tabs" role="tablist">
					 <li class="nav-item">
					   <a class="nav-link active" href="#infra" data-toggle="tab">{{ .Params.products.infra.header }}</a>
					 </li>
					 <li class="nav-item">
					   <a class="nav-link" href="#inspec" data-toggle="tab">{{ .Params.products.inspec.header }}</a>
					 </li>
					 <li class="nav-item">
					   <a class="nav-link" href="#habitat" data-toggle="tab">{{ .Params.products.habitat.header }}</a>
					 </li>
					 <li class="nav-item">
						 <a class="nav-link" href="#automate" data-toggle="tab">{{ .Params.products.automate.header }}</a>
					 </li>
				 </ul>
				<div class="tab-content">
					 <div class="tab-pane fade show active" id="infra">
						{{ partial "markdownify" .Params.products.infra.copy }} 
						<a class="btn btn-primary" href="{{.Params.products.infra.url}}">Learn More</a>
					 </div>
					 <div class="tab-pane fade" id="inspec">
						{{ partial "markdownify" .Params.products.inspec.copy }} 
						<a class="btn btn-primary" href="{{.Params.products.inspec.url}}">Learn More</a>
					 </div>
					 <div class="tab-pane fade" id="habitat">
						{{ partial "markdownify" .Params.products.habitat.copy }} 
						<a class="btn btn-primary" href="{{.Params.products.habitat.url}}">Learn More</a>
					 </div>
					 <div class="tab-pane fade" id="automate">
						{{ partial "markdownify" .Params.products.automate.copy }} 
						<a class="btn btn-primary" href="{{.Params.products.automate.url}}">Learn More</a>
					 </div>
				 </div>
		   </div>
	   </div>
	</div>
</div>