<div class="container-fluid">
	<div class="row product-grid-main">
	   <div class="col-lg-4 offset-lg-1 col-sm-12 flex-center">
	        {{ partial "home/product-stack.html" . }}
	   </div>
	   <div class="col-lg-7 col-sm-12 product-grid-copy">
			<div class="product-grid-copy-wrapper">
				<h2>{{ .Params.products.header }} <span class="highlight">{{ .Params.products.header2 }}</span></h2>
				<ul class="nav nav-tabs" id="product-tabs" role="tablist">
					<li class="nav-item">
						<a id="habitat-nav" class="nav-link" href="#habitat" data-toggle="tab">{{ .Params.products.habitat.header }} 	<span class="fa fa-angle-right" aria-hidden="true"> </span>
						</a>
					</li>
					<li class="nav-item">
						<a id="inspec-nav" class="nav-link" href="#inspec" data-toggle="tab">{{ .Params.products.inspec.header }}
							<span class="fa fa-angle-right" aria-hidden="true"> </span>
						</a>
					</li>
						<li class="nav-item">
						<a id="infra-nav" class="nav-link" href="#infra" data-toggle="tab">{{ .Params.products.infra.header }}
							<span class="fa fa-angle-right" aria-hidden="true"> </span>
						</a>
					</li>
					<li class="nav-item">
						<a id="automate-nav" class="nav-link" href="#automate" data-toggle="tab">{{ .Params.products.automate.header }} <span class="fa fa-angle-right" aria-hidden="true"> </span></a>
					</li>
				</ul>
			</div>
			<div class="tab-content">
				<div class="tab-pane fade" id="habitat">
					<div class="img-left">
						<img src="./img/logos/Habitat.svg" alt="Chef Habitat Wordmark" class="chef-wordmark">
					</div>
					{{ partial "markdownify" .Params.products.habitat.copy }} 
					<a class="btn btn-primary" href="{{.Params.products.habitat.url}}">Learn More</a>
				</div>
				<div class="tab-pane fade" id="inspec">
					<div class="img-left">
						<img src="./img/logos/Inspec.svg" alt="Chef Inspec Wordmark" class="chef-wordmark">
					</div>
					{{ partial "markdownify" .Params.products.inspec.copy }}
					<a class="btn btn-primary" href="{{.Params.products.inspec.url}}">Learn More</a>
				</div>
				<div class="tab-pane fade" id="infra">
					<div class="img-left">
						<img src="./img/logos/Infra.svg" alt="Chef Infra Wordmark" class="chef-wordmark">
					</div>
					{{ partial "markdownify" .Params.products.infra.copy }} 
					<a class="btn btn-primary" href="{{.Params.products.infra.url}}">Learn More</a>
				</div>
				<div class="tab-pane fade" id="automate">
					<div class="img-left">
						<img src="./img/logos/Automate.svg" alt="Chef Automate Wordmark" class="chef-wordmark">
					</div>
					{{ partial "markdownify" .Params.products.automate.copy }} 
					<a class="btn btn-primary" href="{{.Params.products.automate.url}}">Learn More</a>
				</div>
			</div>
	   </div>
	</div>
</div>