<div class="container-fluid">
	<div class="row product-grid-main">
		<div class="col-lg-4 offset-lg-1 col-sm-12 flex-center">
			{{ partial "home/product-stack.html" . }}
		</div>
		<div class="col-lg-7 col-sm-12 product-grid-copy">
			<div class="product-grid-copy-wrapper">
				<h2>{{ .Params.tools.header }}</h2>
				<ul class="nav nav-tabs" id="product-tabs" role="tablist" aria-label="Chef Product Tabs">
					<li class="nav-item" role="tab">
						<a id="habitat-nav" class="nav-link" href="#habitat" data-toggle="tab">{{ .Params.tools.habitat.header }}
							<span class="fa fa-angle-right" aria-hidden="true"> </span>
						</a>
					</li>
					<li class="nav-item" role="tab">
						<a id="inspec-nav" class="nav-link" href="#inspec" data-toggle="tab">{{ .Params.tools.inspec.header }}
							<span class="fa fa-angle-right" aria-hidden="true"> </span>
						</a>
					</li>
					<li class="nav-item" role="tab">
						<a id="infra-nav" class="nav-link" href="#infra" data-toggle="tab">{{ .Params.tools.infra.header }}
							<span class="fa fa-angle-right" aria-hidden="true"> </span>
						</a>
					</li>
					<li class="nav-item" role="tab">
						<a id="automate-nav" class="nav-link" href="#automate" data-toggle="tab">{{ .Params.tools.automate.header }}
							<span class="fa fa-angle-right" aria-hidden="true"> </span></a>
					</li>
				</ul>
			</div>
			<div class="tab-content">
				<div class="tab-pane fade" id="habitat" role="tabpanel" aria-labelledby="habitat-nav">
					<div class="img-left">
						<img src="./img/logos/Habitat.svg" alt="Chef Habitat Wordmark" class="chef-wordmark">
					</div>
					{{ partial "markdownify" .Params.tools.habitat.copy }}
					<a class="btn btn-primary" href="{{.Params.tools.habitat.url}}">Learn More</a>
				</div>
				<div class="tab-pane fade" id="inspec" role="tabpanel" aria-labelledby="inspec-nav">
					<div class="img-left">
						<img src="./img/logos/Inspec.svg" alt="Chef Inspec Wordmark" class="chef-wordmark">
					</div>
					{{ partial "markdownify" .Params.tools.inspec.copy }}
					<a class="btn btn-primary" href="{{.Params.tools.inspec.url}}">Learn More</a>
				</div>
				<div class="tab-pane fade" id="infra" role="tabpanel" aria-labelledby="infra-nav">
					<div class="img-left">
						<img src="./img/logos/Infra.svg" alt="Chef Infra Wordmark" class="chef-wordmark">
					</div>
					{{ partial "markdownify" .Params.tools.infra.copy }}
					<a class="btn btn-primary" href="{{.Params.tools.infra.url}}">Learn More</a>
				</div>
				<div class="tab-pane fade" id="automate" role="tabpanel" aria-labelledby="automate-nav">
					<div class="img-left">
						<img src="./img/logos/Automate.svg" alt="Chef Automate Wordmark" class="chef-wordmark">
					</div>
					{{ partial "markdownify" .Params.tools.automate.copy }}
					<a class="btn btn-primary" href="{{.Params.tools.automate.url}}">Learn More</a>
				</div>
			</div>
		</div>
	</div>
</div>