<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<h2>{{ .Params.resources.header }} {{ .Params.resources.header2 }}</h2>
		</div>
		<div class="col-lg-4 col-sm-12 card-container">
				<div class="card">
					<a href="{{ .Params.resources.one.link }}" class="img">
						<img src="{{ .Params.resources.one.img }}">
					</a>
					<div class="text">
						{{ partial "markdownify" .Params.resources.one.body }} 
					</div>
				</div>
			</a>
		</div>
		<div class="col-lg-4 col-sm-12 card-container">
			<div class="card">
				<a href="{{ .Params.resources.two.link }}" class="img">
					<img src="{{ .Params.resources.two.img }}">
				</a>
				<div class="text">
					{{ partial "markdownify" .Params.resources.two.body }} 
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-sm-12 card-container">
			<div class="card">
				<a href="{{ .Params.resources.three.link }}" class="img">
					<img src="{{ .Params.resources.three.img }}">
				</a>
				<div class="text">
					{{ partial "markdownify" .Params.resources.three.body }} 
				</div>
			</div>
		</div>
	</div>
</div>