<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 col-sm-12 card-container">
			<div class="card">
				<div class="row">
					<div class="col-sm-8">
						<h3>{{ .Params.cards.one.title }}</h3>
					</div>
					<div class="col-sm-4">
						{{ .Params.cards.one.icon }}
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						{{ partial "markdownify" .Params.cards.one.body }}
					</div>
				</div>

			</div>
		</div>
		<div class="col-md-4 col-sm-12 card-container">
			<div class="card">
				<div class="row">
					<div class="col-sm-8">
						<h3>{{ .Params.cards.two.title }}</h3>
					</div>
					<div class="col-sm-4">
						{{ .Params.cards.two.icon }}
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 events-list">
						<ul>
							{{ $events := getJSON "https://events.chef.io/wp-json/events-feed/latest" }}
							{{ range first 5 $events }}
								<li>
									<a href="{{ .event_attributes.event_url }}" target="_blank">{{ .event_name }}</a>
									<p>{{ dateFormat "Jan 2, 2006" .start_date }}, {{ .location }} <br><a href="{{ .event_attributes.event_url }}">See more &raquo;</a></p>
								</li>
							{{ end }}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-12 card-container">
			<div class="card">
				<div class="row">
					<div class="col-sm-8">
						<h3>{{ .Params.cards.three.title }}</h3>
					</div>
					<div class="col-sm-4">
						{{ .Params.cards.three.icon }}
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						{{ partial "markdownify" .Params.cards.three.body }}

						<h5>Awesome Contributors</h5>
						<div class="contributors-list">
							<img src="http://placehold.it/50x50" class="img-round">
							<img src="http://placehold.it/50x50" class="img-round">
							<img src="http://placehold.it/50x50" class="img-round">
							<img src="http://placehold.it/50x50" class="img-round">
							<img src="http://placehold.it/50x50" class="img-round">
							<img src="http://placehold.it/50x50" class="img-round">
						</div>

						{{ partial "social" . }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="bg-wave"><div><img src="img/bg-wave.png"></div></div>