<div class="container-fluid" id="action-cards">
	<div class="row">
		<div class="col-lg-4 col-sm-12 card-container" data-scroll-speed="4">
			<div class="card">
				<div class="row card-title">
					<div class="col-8">
						<h3>{{ .Params.cards.one.title }}</h3>
					</div>
					<div class="col-4 text-right">
						<img src="{{ .Params.cards.one.icon }}" class="card-icon">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						{{ partial "markdownify" .Params.cards.one.body }}
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-sm-12 events-list">
						<h5>Webinars</h5>
						<ul>
              {{ $events := getJSON "https://events.chef.io/wp-json/events-feed/latestwebinars" }}
              {{ range first 5 $events }}
								<li>
									<p><a href="{{ .event_attributes.event_url }}" target="_blank">{{ .event_name }}</a></br/>
									{{ dateFormat "Jan 2, 2006" .start_date }} {{ .location }} 
								</li>
							{{ end }}
							<a href="#" class="cta" target="_blank">View all webinars »</a>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-sm-12 card-container" data-scroll-speed="4">
			<div class="card">
				<div class="row card-title">
					<div class="col-8">
						<h3>{{ .Params.cards.two.title }}</h3>
					</div>
					<div class="col-4 text-right">
						<img src="{{ .Params.cards.two.icon }}" class="card-icon">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 events-list">
						<ul>
              {{ $events := getJSON "https://events.chef.io/wp-json/events-feed/latestnonwebinars" }}
              {{ range first 5 $events }}
								<li>
									<a href="{{ .event_attributes.event_url }}" target="_blank">{{ .event_name }}</a>
									<p>{{ dateFormat "Jan 2, 2006" .start_date }} {{ .location }} <br><a href="{{ .event_attributes.event_url }}">See more &raquo;</a></p>
								</li>
							{{ end }}
							
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-sm-12 card-container" data-scroll-speed="4"> 
			<div class="card" id="card-connect">
				<div class="row card-title">
					<div class="col-8">
						<h3>{{ .Params.cards.three.title }}</h3>
					</div>
					<div class="col-4 text-right">
						<img src="{{ .Params.cards.three.icon }}" class="card-icon">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						{{ partial "markdownify" .Params.cards.three.body }}

						<h5>Awesome Contributors</h5>
						<div class="contributors-list">
		
							{{ range $.Site.Data.contributors }}
                <a href="{{ .url }}"><img src="{{ .avatar_url }}&size=50" class="img-round" width="50" alt="{{ .name }}"></a>
              {{ end }}
						</div>
		
						{{ partial "social" . }}

					</div>
				</div>
				<div id="chefconf-banner">
					<a href="https://chefconf.io/" target="_blank">
						<img src="/img/chefconf-online.png" alt="ChefConf Online" width="100%" />
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="bg-wave"><div><img src="/img/bg-wave.png"></div></div>
