{{ define "body" }}
<main id="inspec">
	
	<section class="hero-actions">
        
		<section class="hero">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-9 col-lg-7">
						<h1><img src="{{ .Params.hero.logo }}" alt="Chef Inspec" class="chef-wordmark large" /></h1>
						<h2>{{ .Params.title }}</h2>
						{{ .Content }}
					</div>
				</div>
			</div>
		</section>


		<section class="actions">
			{{ partial "four-cards.html" . }}
		</section>

	</section>
		
	

			
		<section class="benefits">
			{{ partial "inspec/inspec-benefits.html" . }}
	</section>

	<section class="get-started">
		{{ partial "inspec/inspec-start.html" . }}
	</section>
	
	<section class="tutorials">
			{{ partial "inspec/inspec-tutorials.html" . }}
	</section>

	<section class="resources">
			{{ partial "inspec/inspec-resources.html" . }}
	</section>

	<section class="contact">
		{{ partial "contact.html" . }}
</section>

</main>

{{ end }}