<div class="container-fluid">
  <div class="row benefits-main">
    <div class="col-sm-12">
      <div class="headers">
        
        <h2><div class="img-left">
          <img
            src="{{ .Params.benefits.headerImage }}"
            alt="Chef Inspec"
            class="chef-wordmark"
          /> {{ .Params.benefits.headerTwo }}
        </div></h2>
        <ul class="nav nav-tabs" id="benefits-tabs" role="tablist">
          <li class="nav-item">
            <a id="first-nav" class="nav-link active" href="#one" data-toggle="tab">
              {{ .Params.benefits.one.header }}
              <span class="fa fa-angle-right" aria-hidden="true"> </span>
            </a>
          </li>
          <li class="nav-item">
            <a id="second-nav" class="nav-link" href="#two" data-toggle="tab"
              >{{ .Params.benefits.two.header }}
              <span class="fa fa-angle-right" aria-hidden="true"> </span>
            </a>
          </li>
          <li class="nav-item">
            <a id="third-nav" class="nav-link" href="#three" data-toggle="tab"
              >{{ .Params.benefits.three.header }}
              <span class="fa fa-angle-right" aria-hidden="true"> </span>
            </a>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <div class="tab-pane fade active show" id="one">
          <div class="row">
            <div class="col-12 col-md-6">
              {{ .Params.benefits.one.copy | markdownify }}
            </div>
            <div class="col-12 col-md-6">
              <pre class="prettyprint"><code>
                control 'sshd-21' do
                  title 'Set SSH Protocol to 2'
                  desc 'A detailed description'
                  impact 1.0 # This is critical ref 'compliance guide, section 2.1'
                  describe sshd_config do
                  its('Protocol') { should cmp 2 }
                  end
                end
                </code></pre>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="two">
          <div class="row">
            <div class="col-12 col-md-6">
              {{ .Params.benefits.two.copy | markdownify }}
            </div>
            <div class="col-12 col-md-6">
              <pre class="prettyprint"><code>
                describe file('/etc/myapp.conf') do
                &nbsp;&nbsp;it { should exist }
                &nbsp;&nbsp;its('mode') { should cmp 0644 }
                end
                
                describe apache_conf do
                &nbsp;&nbsp;its('Listen') { should cmp 8080 }
                end
                
                describe port(8080) do
                &nbsp;&nbsp;it { should be_listening }
                end
                </code></pre>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="three">
          <div class="row">
            <div class="col-12 col-md-6">
              {{ .Params.benefits.three.copy | markdownify }}
            </div>
            <div class="col-12 col-md-6">
              <pre class="prettyprint"><code>
                describe aws_s3_bucket(bucket_name: 'my_secret_files') do
                it { should exist }
                it { should_not be_public }
              end
              
              describe aws_iam_user(username: 'test_user') do
                it { should have_mfa_enabled }
                it { should_not have_console_password }
              end
                </code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
