{{ define "body" }}

	<main id="financial-services-events">		
		<section class="hero">
			{{ partial "hero.html" . }}
		</section>

		<section class="event-cards">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-4 col-sm-12 card-container">
						{{ partial "events/event-card.html" (dict "img" .Params.events.one.img "title" .Params.events.one.title "presenter" .Params.events.one.presenter "datetime" .Params.events.one.datetime "body" .Params.events.one.body "link" .Params.events.one.link) }}
					</div>
					<div class="col-lg-4 col-sm-12 card-container">
						{{ partial "events/event-card.html" (dict "img" .Params.events.two.img "title" .Params.events.two.title "presenter" .Params.events.two.presenter "datetime" .Params.events.two.datetime "body" .Params.events.two.body "link" .Params.events.one.link) }}
					</div>
					<div class="col-lg-4 col-sm-12 card-container">
						{{ partial "events/event-card.html" (dict "img" .Params.events.three.img "title" .Params.events.three.title "presenter" .Params.events.three.presenter "datetime" .Params.events.three.datetime "body" .Params.events.three.body "link" .Params.events.one.link) }}
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 offset-lg-2 col-sm-12 card-container">
						{{ partial "events/event-card.html" (dict "img" .Params.events.four.img "title" .Params.events.four.title "presenter" .Params.events.four.presenter "datetime" .Params.events.four.datetime "body" .Params.events.four.body "link" .Params.events.four.link) }}
					</div>
					<div class="col-lg-4 col-sm-12 card-container">
						{{ partial "events/event-card.html" (dict "img" .Params.events.five.img "title" .Params.events.five.title "presenter" .Params.events.five.presenter "datetime" .Params.events.five.datetime "body" .Params.events.five.body "link" .Params.events.one.link) }}
					</div>
				</div>
			</div>
		</section>
	</main>

{{ end }}