{{ define "body" }}
<main id="automate">
	
	<section class="hero-actions">
        
		<section class="hero">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-9 col-lg-7">

						<h2>
							<div class="img-left">
							<img src="{{ .Params.hero.logo }}" alt="Chef Automate" class="chef-wordmark  " />
							</div>
						</h2>
						<h1>{{ .Params.title }}</h1>
						{{ .Content }}
					</div>
				</div>
			</div>
		</section>

		<section class="actions">
			{{ partial "four-cards.html" . }}
		</section>

	</section>

	<section class="usage">
		{{ partial "automate/automate-usage.html" . }}
	</section>

	<section class="resources">
			{{ partial "automate/automate-resources.html" . }}
	</section>

	<section class="contact">
		{{ partial "contact.html" . }}
</section>

</main>

{{ end }}