<div class="row product-grid-header">
    <div class="col-lg-12">
    </div>
</div>
<div class="row product-grid-main">
   <div class="col-lg-4 offset-lg-1 col-sm-12 flex-center">
       <img src="img/prodviz.png" alt="Product grid visualization" id="prodgrid-img">
   </div>
   <div class="col-lg-5 col-sm-12 product-grid-copy">
       <h2>{{ .Params.products.header }} <span class="highlight">{{ .Params.products.header2 }}</span>:</h2>
       <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" href="#">{{ .Params.products.infra.header }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Security &amp; Compliance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Application</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Observability</a>
            </li>
          </ul>
       {{ .Params.products.infra.copy | markdownify }}

       <a href="{{.Params.products.infra.url}}"><div class="btn btn-primary">Learn More</div></a>
   </div>
</div>