{{ define "body" }}
<main id="home">
    
    <section class="hero-actions">
        
        <section class="hero">
            {{ partial "hero.html" . }}
        </section>
        
        <section class="actions">
            {{ partial "home/home-actions.html" . }}
        </section>
        
    </section>
    
    <section class="product-grid">
        {{ partial "home/home-products.html" . }}
    </section>
    <section class="community">
        {{ partial "home/home-community.html" . }}
    </section>
    <section class="resources">
        {{ partial "home/home-resources.html" . }}
    </section>
    <section class="discuss">
        {{ partial "home/home-discourse.html" . }}
    </section>
</main>
{{ end }}