{{ define "page-specific-scripts" }}

<!-- Netlify CMS script - added to the head of site's main index page -->
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
    if (!user) {
        window.netlifyIdentity.on("login", () => {
        document.location.href = "/admin/";
        });
    }
    });
}
</script>

{{ end }}

{{ define "body" }}
<main id="home">
    
    <section class="hero-actions">
        
        <section class="hero"> 
            {{ partial "hero.html" . }}
        </section>
        
        <section class="actions">
            {{ partial "home/home-actions.html" . }}
        </section>
        
    </section>
    
    <section class="product-grid">
        {{ partial "home/home-products.html" . }}
    </section>
    <section class="community">
        {{ partial "home/home-community.html" . }}
    </section>
    <section class="resources">
        {{ partial "home/home-resources.html" . }}
    </section>
    <section class="discuss">
        {{ partial "home/home-discourse.html" . }}
    </section>
</main>
{{ end }}


