<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2>{{ .Params.tutorials.header }}</h2>
    </div>
    <div class="col-lg-4 col-sm-6 col-12 card-container">
      <div class="card">
        <a href="{{ .Params.tutorials.one.link }}" class="img" target="_blank" rel="noopener noreferrer">
          <img src="{{ .Params.tutorials.one.img }}" alt="{{ .Params.tutorials.one.alt }}" />
        </a>
        <div class="text">
          {{ partial "markdownify" .Params.tutorials.one.copy }}
        </div>
      </div>
      </a>
    </div>
    <div class="col-lg-4 col-sm-6 col-12 card-container">
      <div class="card">
        <a href="{{ .Params.tutorials.two.link }}" class="img" target="_blank" rel="noopener noreferrer">
          <img src="{{ .Params.tutorials.two.img }}" alt="{{ .Params.tutorials.two.alt }}" />
        </a>
        <div class="text">
          {{ partial "markdownify" .Params.tutorials.two.copy }}
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-12 card-container">
      <div class="card">
        <a href="{{ .Params.tutorials.three.link }}" class="img" target="_blank" rel="noopener noreferrer">
          <img src="{{ .Params.tutorials.three.img }}" alt="{{ .Params.tutorials.three.alt }}" />
        </a>
        <div class="text">
          {{ partial "markdownify" .Params.tutorials.three.copy }}
        </div>
      </div>
    </div>
  </div>
</div>