<div class="container-fluid">
  <div class="row">
    <div class="col-12 ">
      <h2>{{ .Params.tutorials.header }}</h2>
    </div>
    <div class="col-12 col-md-6">
      <a
        href="{{ .Params.tutorials.columnOne.one.link }}"
        class="card-tutorial row align-items-center"
      >
        <div class="col-2 text-center">
          <p class="number">1</p>
        </div>
        <div class="col-10">
          <h5>{{ .Params.tutorials.columnOne.one.title }}</h5>
        </div>
        <div class="col-12">
          <p>{{ .Params.tutorials.columnOne.one.copy | markdownify }}</p>
          <p class="note">
            {{ .Params.tutorials.columnOne.one.subtext | markdownify }}
          </p>
        </div>
      </a>
      <a
        href="{{ .Params.tutorials.columnOne.two.link }}"
        class="card-tutorial row align-items-center"
      >
        <div class="col-2 text-center">
          <p class="number">2</p>
        </div>
        <div class="col-10">
          <h5>{{ .Params.tutorials.columnOne.two.title }}</h5>
        </div>
        <div class="col-12">
          <p>{{ .Params.tutorials.columnOne.two.copy | markdownify }}</p>
          <p class="note">
            {{ .Params.tutorials.columnOne.two.subtext | markdownify }}
          </p>
        </div>
      </a>
    
    </div>
    <div class="col-12 col-md-6">
      <a
        href="{{ .Params.tutorials.columnTwo.one.link }}"
        class="card-tutorial row align-items-center"
      >
        <div class="col-2 text-center">
          <p class="number">3</p>
        </div>
        <div class="col-10">
          <h5>{{ .Params.tutorials.columnTwo.one.title }}</h5>
        </div>
        <div class="col-12">
          <p>{{ .Params.tutorials.columnTwo.one.copy | markdownify }}</p>
          <p class="note">
            {{ .Params.tutorials.columnTwo.one.subtext | markdownify }}
          </p>
        </div>
      </a>
      <a
        href="{{ .Params.tutorials.columnTwo.two.link }}"
        class="card-tutorial row align-items-center"
      >
        <div class="col-2 text-center">
          <p class="number">4</p>
        </div>
        <div class="col-10">
          <h5>{{ .Params.tutorials.columnTwo.two.title }}</h5>
        </div>
        <div class="col-12">
          <p>{{ .Params.tutorials.columnTwo.two.copy | markdownify }}</p>
          <p class="note">
            {{ .Params.tutorials.columnTwo.two.subtext | markdownify }}
          </p>
        </div>
      </a>
      
    </div>
  </div>
</div>
