<div class="container-fluid">
  <div class="row">
    <div class="col-12 ">
      <h2>{{ .Params.tutorials.header }}</h2>
    </div>
    <div class="col-12 col-md-6">
      <a
        href="{{ .Params.tutorials.one.link }}"
        class="card-tutorial row align-items-center"
        target="_blank" rel="noopener noreferrer"
      >
        <div class="col-2 text-center">
          <p class="number">1</p>
        </div>
        <div class="col-10">
          <h5>{{ .Params.tutorials.one.title }}</h5>
        </div>
        <div class="col-12">
          <p>{{ .Params.tutorials.one.copy | markdownify }}</p>
        </div>
      </a>
    </div>
    <div class="col-12 col-md-6">
      <a
        href="{{ .Params.tutorials.two.link }}"
        class="card-tutorial row align-items-center"
        target="_blank" rel="noopener noreferrer"
      >
        <div class="col-2 text-center">
          <p class="number">2</p>
        </div>
        <div class="col-10">
          <h5>{{ .Params.tutorials.two.title }}</h5>
        </div>
        <div class="col-12">
          <p>{{ .Params.tutorials.two.copy | markdownify }}</p>
        </div>
      </a>
    </div>
  
    </div>
</div>
