<svg
  id="habitat-img"
  data-name="Layer 1"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 500 1000"
>
  <defs>
    <style>
      .cls-1 {
        fill: none;
        stroke: #1aaf94;
        stroke-miterlimit: 10;
        stroke-width: 2px;
      }
    </style>
  </defs>
  <g id="studio">
    <circle id="circle-e" class="cls-1" cx="367.27" cy="200.27" r="25.25" />
    <circle id="circle-c" class="cls-1" cx="209.98" cy="175.02" r="25.25" />
    <circle id="circle-d" class="cls-1" cx="209.98" cy="444.4" r="25.25" />
    <circle id="circle-f" class="cls-1" cx="367.27" cy="428.83" r="25.25" />
    <circle id="circle-a" class="cls-1" cx="52.7" cy="70.74" r="25.25" />
    <circle id="circle-b" class="cls-1" cx="52.7" cy="320.24" r="25.25" />
    <path
      id="vertical-three"
      class="cls-1"
      d="M327.53,577.1a39.85,39.85,0,0,0,39.74-39.73V225.52"
    />
    <path
      id="vertical-one"
      class="cls-1"
      d="M92.43,577.1A39.85,39.85,0,0,1,52.7,537.37V45.49"
    />
    <line
      id="whoosh-two"
      class="cls-1"
      x1="188.23"
      y1="399.8"
      x2="188.23"
      y2="354.96"
    />
    <line
      id="whoosh-one"
      class="cls-1"
      x1="231.74"
      y1="399.8"
      x2="231.74"
      y2="354.96"
    />
    <line
      id="vertical-2"
      class="cls-1"
      x1="209.98"
      y1="419.14"
      x2="209.98"
      y2="-0.5"
    />
    <line
      id="studio-line"
      class="cls-1"
      x1="472.55"
      y1="299.7"
      x2="367.27"
      y2="299.7"
    />
  </g>
  <g id="artifact">
    <circle id="circle-bottom" class="cls-1" cx="257.76" cy="625.2" r="25.25" />
    <circle id="circle-top" class="cls-1" cx="168.17" cy="552.01" r="25.25" />
    <path
      id="top-a"
      class="cls-1"
      d="M92.43,507.47a48.52,48.52,0,0,1,48.38-48.38"
    />
    <path
      id="top-c"
      class="cls-1"
      d="M279.15,459.09a48.52,48.52,0,0,1,48.38,48.38"
    />
    <path
      id="bottom-line"
      class="cls-1"
      d="M472.55,614.27h-145v31.54a48.52,48.52,0,0,1-48.38,48.38H140.81a48.52,48.52,0,0,1-48.38-48.38"
    />
    <line
      id="left-d"
      class="cls-1"
      x1="92.43"
      y1="645.81"
      x2="92.43"
      y2="614.27"
    />
    <line
      id="top-b"
      class="cls-1"
      x1="92.43"
      y1="539.01"
      x2="92.43"
      y2="507.47"
    />
    <line
      id="top-d"
      class="cls-1"
      x1="327.53"
      y1="539.01"
      x2="327.53"
      y2="507.47"
    />
  </g>
  <g id="supervisor">
    <g id="sup_box_one" data-name="sup box one">
      <rect
        id="circle"
        class="cls-1"
        x="90.86"
        y="812.53"
        width="97.36"
        height="97.36"
        rx="30.07"
        transform="translate(1000.76 721.67) rotate(90)"
      />
      <line
        id="whoosh-two-2"
        data-name="whoosh-two"
        class="cls-1"
        x1="140.49"
        y1="768.94"
        x2="140.49"
        y2="693.29"
      />
      <line
        id="whoosh-one-2"
        data-name="whoosh-one"
        class="cls-1"
        x1="111.57"
        y1="787.05"
        x2="111.57"
        y2="728.02"
      />
      <line
        id="whoosh-three"
        class="cls-1"
        x1="169.42"
        y1="787.05"
        x2="169.42"
        y2="728.02"
      />
    </g>
    <g id="sup_box_two" data-name="sup box two">
      <rect
        id="circle-2"
        data-name="circle"
        class="cls-1"
        x="232.91"
        y="877.14"
        width="97.36"
        height="97.36"
        rx="30.08"
        transform="translate(1207.41 644.23) rotate(90)"
      />
      <line
        id="whoosh-two-3"
        data-name="whoosh-two"
        class="cls-1"
        x1="282.54"
        y1="833.54"
        x2="282.54"
        y2="757.89"
      />
      <line
        id="whoosh-one-3"
        data-name="whoosh-one"
        class="cls-1"
        x1="253.61"
        y1="851.65"
        x2="253.61"
        y2="792.62"
      />
      <line
        id="whoosh-3"
        class="cls-1"
        x1="311.46"
        y1="851.65"
        x2="311.46"
        y2="792.62"
      />
    </g>
    <line
      id="super-line"
      class="cls-1"
      x1="472.55"
      y1="930.61"
      x2="329.91"
      y2="930.61"
    />
  </g>
</svg>
