<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2>{{ .Params.builder.header }}</h2>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-12 col-lg-7">
      <p>{{ .Params.builder.copy }}</p>
    </div>
    <div class="col-12 col-lg-5 text-center center-mobile">
      <a class="btn btn-primary" href="{{ .Params.builder.ctaOne.link }}" target="_blank">{{ .Params.builder.ctaOne.copy }}</a>
      <a class="btn btn-secondary" href="{{ .Params.builder.ctaTwo.lin }}" target="_blank">{{ .Params.builder.ctaTwo.copy }}</a>
    </div>
  </div>
</div>